%li
  = content_tag_for :div, tool do
    = link_to tool do
      = image_tag hocho(tool.photo_src, "o=t&q=80&d=500x500&f=jpg")
      %span.tool-brand= tool.brand
      %span.tool-name= tool
      %span.tool-tags= tool.tags.map(&:name).join(',')
