.row
  .columns.large-12
    = @tool.brand
    = title @tool

    - @tool.tags.each do |tag|
      = link_to tag, tools_path(tag: tag)

    = simple_format(@tool.description.html_safe)
    -# = link_to @tool.brand, @tool.brand
    %ul
      - @tool.labs.each do |lab|
        %li= link_to lab, lab

.row
  .columns.large-8
    = image_tag @tool.photo_src

  .columns.large-4
    %h6 Versions
    %ul
      - @tool.ancestors.each do |ancestor|
        %li= link_to ancestor, ancestor
      %li= @tool
      - @tool.descendants.each do |decendant|
        %li= link_to decendant, decendant

    -# %h4 Discussions
    -# = render @tool.discussions
    -# = link_to "Start a new Discussion", new_tool_discussion_path(@tool)

- if current_or_null_user.can_update?(@tool)
  = link_to "Edit", edit_tool_path(@tool)