= title "Sign in"
:css
  body {
    background-image: url('#{cropped_image_path("http://www.fablabbcn.org/wp-content/uploads/2013/10/012.jpg", 2000)}');
  }
.row
  .col-md-4.col-centered

    -# .fablabs
    -#   %span fablabs
    -#   %span.io IO
    = link_to root_path do
      = image_tag "fablabs.png", style: 'width: 100%; margin-bottom: 20px;'

    = form_tag sessions_path do
      -# = simple_form_for :signin, { url: sessions_path } do
      = hidden_field_tag :goto, params[:goto]
      .row
        .col-md-12
          = label_tag :email, nil, class: 'hide'
          = text_field_tag :email, params[:email], placeholder: 'email', autofocus: params[:email].blank?, autocapitalize: "off", autocorrect: "off"
      .row
        .col-xs-9
          = label_tag :password, nil, class: 'hide'
          = password_field_tag :password, nil, placeholder: 'password'
        .col-xs-3.forgot
          = link_to "Forgot?", new_recovery_path

      .actions= submit_tag "Sign in", class: 'btn btn-primary btn-lg'

      = link_to "Not yet a member? <strong>Sign up</strong>".html_safe, signup_path
