- title "Sign in"
.row
  .columns.large-4.large-centered

    -# .fablabs
    -#   %span fablabs
    -#   %span.io IO
    = link_to root_path do
      = image_tag "fablabs.png", style: 'width: 100%; margin-bottom: 20px;'

    = form_tag sessions_path do
      -# = simple_form_for :signin, { url: sessions_path } do
      = hidden_field_tag :goto, params[:goto]
      .row
        .columns.large-12
          = label_tag :email_or_username, "Email or Username", class: 'hide'
          = text_field_tag :email_or_username, params[:email_or_username], placeholder: 'Email or Username', autofocus: params[:email_or_username].blank?, autocapitalize: "off", autocorrect: "off"
      .row
        .columns.small-9
          = label_tag :password, nil, class: 'hide'
          = password_field_tag :password, nil, placeholder: 'password'
        .columns.small-3.forgot
          = link_to "Forgot?", new_recovery_path

      .actions= submit_tag "Sign in", class: 'button'

      = link_to "Not yet a member? <strong>Sign up</strong>".html_safe, signup_path
