- title t("views.header.signin", default: "Sign in")
.row
  .col-lg-4.large-centered

    -# .fablabs
    -#   %span fablabs
    -#   %span.io IO

    .row
      .col-lg-12.text-center
        = link_to root_path do
          = image_tag "fablabs.png", id: 'full-logo'

    = form_tag sessions_path do
      -# = simple_form_for :signin, { url: sessions_path } do
      = hidden_field_tag :goto, params[:goto]
      .row
        .col-lg-12
          = label_tag :email_or_username, "Email or Username", class: 'hide'
          = text_field_tag :email_or_username, params[:email_or_username], placeholder: 'Email or Username', autofocus: params[:email_or_username].blank?, autocapitalize: "off", autocorrect: "off"
      .row
        .col-md-9
          = label_tag :password, nil, class: 'hide'
          = password_field_tag :password, nil, placeholder: 'Password'
        .col-md-3.forgot
          = link_to "Forgot?", new_recovery_url(subdomain: 'www')

      .actions= submit_tag t("views.header.signin", default: "Sign in"), class: 'button'

      = link_to "Not yet a member? <strong>#{t('views.header.signup', default: 'Sign up')}</strong>".html_safe, signup_url(subdomain: 'www', goto: params[:goto])
