= title "Reset Your Password"

.row
  .col-md-3.col-centered

    %p= @recovery.user.first_name

    = simple_form_for @recovery do |f|
      = render "form_errors", resource: @recovery
      = f.simple_fields_for :user do |u|
        = u.input :password
        = u.input :password_confirmation
      = f.submit "Reset Password", class: 'btn btn-primary'
