= simple_form_for [lab,employee] do |f|
  = render "form_errors", resource: employee
  -# = f.association :user
  = f.input :job_title, input_html: { placeholder: "e.g. Fab Lab Manager" }
  = f.input :description, as: 'string', label: 'Job description/responsibilities'

  -# = f.input :is_public
  -# = f.input :is_admin
  -# = f.input :public_email
  -# = f.input :public_phone

  = f.submit (f.object.new_record? ? "Send Application" : "Update"), class: 'button'
