.span16
  %h2
    Authorize #{@pre_auth.client.name} to use your account?
.span16
  - if @pre_auth.scopes
    %p
      This application will be able to:
    %ul
      - @pre_auth.scopes.each do |scope|
        %li= t scope, :scope => [:doorkeeper, :scopes]
  .inline_block
    = form_tag oauth_authorization_path, :method => :post do
      = hidden_field_tag :client_id, @pre_auth.client.uid
      = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
      = hidden_field_tag :state, @pre_auth.state
      = hidden_field_tag :response_type, @pre_auth.response_type
      = hidden_field_tag :scope, @pre_auth.scope
      = submit_tag "Authorize", :class => "btn success"
      or
  .inline_block
    = form_tag oauth_authorization_path, :method => :delete do
      = hidden_field_tag :client_id, @pre_auth.client.uid
      = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
      = hidden_field_tag :state, @pre_auth.state
      = hidden_field_tag :response_type, @pre_auth.response_type
      = hidden_field_tag :scope, @pre_auth.scope
      = submit_tag "Deny", :class => "btn"
