
.row
  .columns.large-12
    %p= link_to "Translations", translations_url

    = form_tag translations_path do
      .fieldset
        = hidden_field_tag :locale, 'en'
        = text_field_tag :key, "views.", placeholder: 'Key', autofocus: true
        = text_area_tag :value, nil, placeholder: 'Value'
        .submit{style: 'margin-top: 1em'}
          = submit_tag "Add", class: 'button small'
