- cache ["v1", project] do
  = content_tag_for :div, project, class: 'media', itemscope: true do
    .img.pull-left
      = link_to project.owner do
        = image_tag hocho(project.owner.avatar_url, "o=t&q=80&d=90x90"), class: 'avatar'
    .media-body
      = link_to project.title, project
      %span
        = icon('map-marker')
        = link_to project.lab do
          = project.lab.name
      %p
        = truncate strip_tags(restricted_markdown(project.description)), :length => 120, :omission => "..."
        = link_to "more", project
