- title "Search"
.row
  .columns.large-8.content
    .row
      .columns.large-12
        -# %dl.sub-nav.right.order-by
        -#   %dt Order by:
        -#   %dd= select_tag :order, ['title','title']

    - if params[:query].present?
      .search-results
        -# %button.close{type: "button", data: { dismiss: "alert"}, aria: { hidden: true}} ×
        = link_to "×", labs_path, class: 'close right'
        #{pluralize @results.size, "search result"} for
        %strong= params[:query]

    .labs= render @labs

    .projects= render @projects

    .users= render @users


  .columns.large-4
