- title "Search"
.row
  .columns.large-8.content
    .row
      .columns.large-12
        -# %dl.sub-nav.right.order-by
        -#   %dt Order by:
        -#   %dd= select_tag :order, ['title','title']

    - if params[:query].present?
      .search-results
        -# %button.close{type: "button", data: { dismiss: "alert"}, aria: { hidden: true}} ×
        = link_to "×", labs_path, class: 'close right'
        #{pluralize @labs.size, "search result"} for
        %strong= params[:query]
    - if @labs.size > 0
      .row
        %h4 Labs
        .labs= render @labs
    - if @projects.size > 0
      .row
        %h4 Projects
        .projects= render @projects
    - if @users.size > 0
      .row
        %h4 People
        .users= render @users
    - else
      %p We could not find what you were looking for. Maybe you can try again.


  .columns.large-4
