.row
  .col-lg-12
    = render "backstage/header"
    = title "Employees"

    %table.table
      %thead
        %tr
          %th ID
          %th Name
          %th Role
          %th Lab
          %th Applied
      %tbody
        - @employees.each do |employee|
          - if employee.user.present?
            = content_tag_for :tr, employee, {class: employee.current_state} do
              %td= employee.id
              %td= link_to employee.user.full_name, lab_employees_url(employee.lab)
              %td= employee.job_title
              %td= link_to employee.lab, employee.lab
              %td= employee.created_at.stamp("13:48, 22 Nov")
