= render "backstage/header"

.container
  .row
    .col-lg-12
      = title "Organizations"

      .well
        = search_form_for [:backstage, @q], builder: SimpleForm::FormBuilder do |f|
          = f.input :name_cont, label: "Name"
          .container
            .row.pb-3
              .col-lg-3.pl-0
                = f.input :discourse_id_not_null, as: :boolean, label: "With discourse ID", input_html: { class: 'form-check-input' }
              .col-lg-9.pr-0
                = f.input :discourse_errors_present, as: :boolean, label: "With discourse sync errors", input_html: { class: 'form-check-input' }
          .row
            .col-lg-9
              = f.input :workflow_state_eq, collection: Organization::WORKFLOW_STATES, label: "State", include_blank: 'ALL'
            .col-lg-3.m-auto
              = f.submit "Filter", class: 'btn btn-primary'

      = page_entries_info @organizations
      %table.table
        %thead
          %tr
            %th= sort_link @q, :id, 'ID'
            %th= sort_link @q, :name, 'Name'
            %th
              Creator
              = sort_link @q, 'creator_first_name', 'First'
              = sort_link @q, 'creator_last_name', 'Last'

            %th= sort_link @q, :state, 'State'
            %th Actions
        %tbody
          - @organizations.each do |organization|
            = content_tag_for :tr, organization, {class: organization.workflow_state} do
              %td= organization.id
              %td= link_to organization.name, organization_path(organization)
              %td= link_to organization.creator, organization.creator
              %td= organization.workflow_state
              %td
                = link_to 'edit', edit_organization_path(organization)

      = paginate @organizations, theme: 'twitter-bootstrap-4', nav_class: "m-auto pt-3"
