= form_for([:oauth, application]) do |f|
  %fieldset
    - if application.errors.any?
      .alert-message.error{"data-alert" => ""}
        %a.close{:href => "#"} ×
        %p Whoops! Check your form for possible errors
    .clearfix
      = f.label :name
      .input
        = f.text_field :name
        = errors_for application, :name
    .clearfix
      = f.label :redirect_uri
      .input
        = f.text_field :redirect_uri
        = errors_for application, :redirect_uri
        - if Doorkeeper.configuration.test_redirect_uri
          %span.help-inline
            Use #{Doorkeeper.configuration.test_redirect_uri} for local tests
    .clearfix
    .actions
      = f.submit :Submit, :class => "btn primary"
      = link_to "Cancel", oauth_applications_path, :class => "btn"
