.span16
  %header.page-header
    %h1
      Application: #{@application.name}
.span10
  %h4 Callback url:
  %p
    %code#callback_url= @application.redirect_uri
  %h4 Application Id:
  %p
    %code#application_id= @application.uid
  %h4 Secret:
  %p
    %code#secret= @application.secret
  %h4 Link to authorization code:
  %p= link_to 'Authorize', oauth_authorization_path(:client_id => @application.uid, :redirect_uri => @application.redirect_uri, :response_type => 'code' )
.span6
  %h3 Actions
  %p= link_to 'List all', oauth_applications_path
  %p= link_to 'Edit', edit_oauth_application_path(@application)
  %p= link_to 'Remove', [:oauth, @application], :method => :delete, :data => { :confirm => "Are you sure?" }
