.container.mt-5
  %p#notice= notice

  .mb-4
    = link_to "Back to Jobs", jobs_url, class: 'btn btn-primary'

  %p
    %b Title:
    = @job.title
  %p
    %b Description:
    = @job.description
  %p
    %b Tags:
    = @job.tag_list
  %p
    %b Is featured:
    = @job.is_featured
  %p
    %b Is verified:
    = @job.is_verified
  %p
    %b User:
    = @job.user
  %p
    %b Min salary:
    = @job.min_salary
  %p
    %b Max salary:
    = @job.max_salary
  %p
    %b Country code:
    = @job.country_code

  = link_to 'Edit', edit_job_path(@job), class: 'btn btn-primary'

  .my-5
    - if @job.apply_url.present?
      =link_to 'Apply', @job.apply_url, target: '_blank', class: 'btn btn-primary'
