.container.mt-5

  .mb-4
    = link_to "Back to Jobs", jobs_url, class: 'btn btn-primary'

  %p
    %b Title:
    %br
    = @job.title
  %p
    %b Description:
    %br
    = @job.description
  %p
    %b Tags:
    %br
    = @job.tag_list
  %p
    %b Min salary:
    %br
    = @job.min_salary
  %p
    %b Max salary:
    %br
    = @job.max_salary
  %p
    %b Country code:
    %br
    = @job.country_code

  = link_to 'Edit', edit_job_path(@job), class: 'btn btn-primary' if current_user&.has_role?(:superadmin)

  .my-5
    - if @job.apply_url.present?
      =link_to 'Apply', @job.apply_url, target: '_blank', class: 'btn btn-primary'
