.row
  .col-lg-12
    %fieldset
      %legend Links
      .col-lg-6
        = icon('link')
        = f.input :web
        = icon('github')
        = f.input :github
        = icon('hdd-o')
        = f.input :drive
        = icon('twitter')
        = f.input :twitter
        = icon('flickr')
        = f.input :flickr
        = icon('instagram')
        = f.input :instagram
      .col-lg-6
        = icon('bitbucket')
        = f.input :bitbucket
        = icon('dropbox')
        = f.input :dropbox
        = icon('facebook')
        = f.input :facebook
        = icon('google-plus')
        = f.input :googleplus
        = icon('youtube')
        = f.input :youtube
        = icon('vimeo-square')
        = f.input :vimeo
