%ul.links
  - if @user.web.present?
    %li
      %a{ href: @user.web, title: "WWW" }
        = icon('link')
  - if @user.github.present?
    %li
      %a{ href: @user.github, title: "Github" }
        = icon('github')
  - if @user.dropbox.present?
    %li
      %a{ href: @user.dropbox, title: "Dropbox"}
        = icon('dropbox')
  - if @user.drive.present?
    %li
      %a{ href: @user.drive, title: "Google Drive"}
        = icon('hdd-o')
  - if @user.bitbucket.present?
    %li
      %a{ href: @user.bitbucket, title: "Bitbucket"}
        = icon('bitbucket')
  - if @user.twitter.present?
    %li
      %a{ href: @user.twitter, title: "Twitter"}
        = icon('twitter')
  - if @user.facebook.present?
    %li
      %a{ href: @user.facebook, title: "Facebook"}
        = icon('facebook')
  - if @user.googleplus.present?
    %li
      %a{ href: @user.googleplus, title: "Google+"}
        = icon('google-plus')
  - if @user.vimeo.present?
    %li
      %a{ href: @user.vimeo, title: "Vimeo"}
        = icon('vimeo-square')
  - if @user.youtube.present?
    %li
      %a{ href: @user.youtube, title: "Youtube"}
        = icon('youtube')
  - if @user.flickr.present?
    %li
      %a{ href: @user.flickr, title: "Flickr"}
        = icon('flickr')
  - if @user.instagram.present?
    %li
      %a{ href: @user.instagram, title: "Instagram"}
        = icon('instagram')
