= render "backstage/header"

.container
  .row
    .col-lg-12= title "Change Your Password", id: "change-password"
    .col-lg-12
      = simple_form_for @user, :url => update_password_path do |f|
        %fieldset
          = render "form_errors", resource: @user
          .row
            .col-lg-2
              = f.label  :password, "New Password*"
            .col-lg-4
              = f.input :password, label: false, as: 'password', required: true
            .col-lg-2
              = f.label  :password, "Confirm*"
            .col-lg-4.left
              = f.input :password_confirmation, label: false, as: 'password',  required: true
        = f.submit "Update", class: 'btn btn-primary'
  .row
    .col-lg-12
      %hr      