.container
  .row
    .col-md-12= title "Settings"
    .col-md-12.box
      = simple_form_for @user do |f|
        = render "form_errors", resource: @user
        .row
          .col-md-1
            = f.label :first_name, "Name"
          .col-md-3
            = f.input :first_name, label: false, placeholder: 'First'
          .col-md-3
            = f.input :last_name, label: false, placeholder: 'Last'
        = f.input :email

        %fieldset
          .row
            .col-md-2= image_tag @user.avatar, width: 100
            .col-md-10= f.input :avatar_src, input_html: { class: 'fp' }, label: 'Avatar'

        = f.submit "Update", class: 'btn btn-primary btn-lg'
