.container
  = simple_form_for @user do |f|
    %fieldset
      .form-header
        .text-large Welcome to fablabs.io
        %h5
          Once you join you'll be able to add your Fab Lab to the list, participate in discussions with all the Fab Labs and users, upload projects and more.

      .row
        = render "form_errors", resource: @user
        = hidden_field_tag :goto, params[:goto]
        .col-12
          = f.label :first_name, "Your Name"
        .col-md-6
          = f.input :first_name, autofocus: true, placeholder: 'First Name', label: false
          = f.invisible_captcha :maker_name
        .col-md-6
          = f.input :last_name, placeholder: 'Last Name', label: false

        .col-12
          = f.input :email, autocapitalize: "off", autocorrect: "off"
          = f.input :username, autocapitalize: "off", autocorrect: "off", hint: "Alphanumeric characters only please (a-z0-9)"

          = f.input :password
          = f.input :password_confirmation

          .my-3
            = f.input :agree_policy_terms, as: :boolean, label: "Please read and agree to our <a href='/cookie-policy'>Cookie</a>, <a href='/privacy-policy'>Privacy</a> and <a href='/tos'>Terms of Service (TOS)</a> policies".html_safe, input_html: { class: 'form-check-input' }

          = f.submit t("views.header.signup", default: "Sign Up"), class: 'btn btn-primary btn-lg mb-3 float-left'
