.row
  .columns.large-12
    = title "Sign Up"

  .columns.large-7.left
    = simple_form_for @user do |f|
      = render "form_errors", resource: @user
      .row
        .columns.large-3.your-name
          = f.label :first_name, "Your Name"
        .columns.large-4
          = f.input :first_name, autofocus: true, placeholder: 'First Name', label: false
        .columns.large-4.left
          = f.input :last_name, placeholder: 'Last Name', label: false
      = f.input :email, autocapitalize: "off", autocorrect: "off"
      .row
        .columns.large-6
          = f.input :password
        .columns.large-6
          = f.input :password_confirmation
      .row
        .columns.large-12
          = f.input :country_code, as: 'country', priority: [current_country.alpha2.downcase], label: 'Country', iso_codes: true

      = f.submit 'Sign Up', class: 'button'

  -# .columns.large-4
  -#   %h4 Joining the Network
  -#   %p We want all different types of people to engage with the global Fab Lab network
  -#   %ul
  -#     %li Students
  -#     %li Professionals
  -#     %li Fab Lab Staff
  -#     %li Hobbyists

  -#   = image_tag "icons/safe.png"

  -#   %h4 What are the benefits?
  -#   %p Once you join you'll be able to participate in discussions, follow certain labs etc..
  -#