.row
  .columns.large-12
    .media
      .pull-left= image_tag @user.avatar, class: 'avatar big'
      .media-body
        .row
          .columns.large-4.text-right.right
            - if current_or_null_user == @user
              = link_to settings_path, class: 'button tiny' do
                = fa_icon "edit", text: "Edit Profile"
          .columns.large-8.left= title @user
        = simple_format @user.bio
        .joined-on
          Joined #{@user.created_at.to_date.to_formatted_s(:long)}

.row
  .columns.large-6
    - if @user.employees.with_approved_state.any?
      %h4 Works at
      %ul
        - @user.employees.with_approved_state.each do |employee|
          = content_tag_for :li, employee do
            = link_to employee.lab, employee.lab
            \-
            = employee.job_title

  .columns.large-6
    %ul= render @user.activities
