.row
  .col-lg-12
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to 'Organizations', organizations_path
      %li.breadcrumb-item
        = link_to @organization.name, organizations_path(@organization)
      %li.breadcrumb-item.active Add lab


.row
  .col-lg-12
    %h1 Add lab to a organization

    - if @lab

      = render partial: 'labs/lab', locals: {lab: @lab}

      = form_tag organization_lab_organizations_path(@organization) do
        = hidden_field_tag :lab_id, @lab.id
        = submit_tag 'Add lab to organization', class: 'btn btn-primary'

    - else
      = form_tag new_organization_lab_organization_path(@organization), method: :get do
        .row
          .col-lg-10
            = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search lab'
          .col-lg-2
            = submit_tag 'Search', class: 'btn btn-primary btn-lg'


      #organization-labs-search
        - @labs.each do |lab|
          .row
            .col-lg-1
              %br
              = link_to "choose", new_organization_lab_organization_path(@organization, lab_id: lab.to_param), class: 'btn btn-primary btn-lg'

            .col-lg-11
              = render partial: 'labs/lab', locals: {lab: lab}
