.container
  .row
    .col-lg-12
      = title "Edit User #{@user}"
      = simple_form_for [:backstage, @user] do |f|

        = render "form_errors", resource: @user

        %fieldset
          = f.input :first_name
          = f.input :last_name
          = f.input :username
          = f.input :email
          = f.input :url
          = f.input :dob, as: :date, end_year: 1900, start_year: Date.today.year - 13, include_blank: true, order: [:day, :month, :year]
          = f.input :bio
          = f.input :locale
          = f.input :country_code
          .form-check.ml-4
            = f.input :use_metric, input_html: {class: 'form-check-input'}
        = f.submit 'Save', class: 'btn btn-primary btn-lg mt-4'
