- if lab.present?
  = content_tag_for :li, activity do
    = link_to activity.creator, activity.creator, class: 'user'
    = activity.actioned
    = link_to lab, lab
    %i #{time_ago_in_words(activity.created_at)} ago
