= simple_form_for [:backstage, page] do |f|
  = f.input :title
  = f.input :slug
  = f.input :content, input_html: {class: 'trumbowyg'}
  = f.input :position
  = f.input :published
  = f.submit 'save', class: 'btn btn-primary'
