= render "backstage/header"

.container
  .row
    .col-lg-12
      = title "Pages"

      = page_entries_info @pages
      %table.table
        %thead
          %tr
            %th id
            %th Title
            %th Published
            %th Position
            %th
        %tbody
          - @pages.each do |page|
            %tr
              %td= page.id
              %td= link_to page.title, [:edit, :backstage, page]
              %th= page.published? ? 'TRUE' : 'FALSE'
              %th= page.position
              %th
                = link_to 'preview', page
                \-
                = link_to 'delete', [:backstage, page], method: 'delete', confirm: 'Are you sure?'

      = paginate @pages, theme: 'twitter-bootstrap-4', nav_class: "m-auto pt-3"
      = link_to 'New Page', [:new, :backstage, :page], class: 'btn btn-primary'
