= simple_form_for [@lab,@event] do |f|
  = render 'form_errors', resource: @event

  %fieldset
    = f.input :name, placeholder: "New Event"
    .row
      .col-md-6
        = f.input :starts_at, as: 'string', input_html: { placeholder: 'dd/mm/yy', class: 'flatpickr-time p-4'}
      .col-md-6
        = f.input :ends_at, as: 'string', input_html: { placeholder: 'dd/mm/yy', class: 'flatpickr-time p-4'}
        -# f.time_zone_select :time_zone
    .form-check.px-3
      = f.input :all_day, as: 'boolean', input_html: {class: 'form-check-input'}

  %fieldset
    .form-check.mb-3.pb-3.px-3
      = f.input :tags, as: 'check_boxes',inline_label: true, item_wrapper_class: 'checkbox_container mr-3', collection: Event::Tags, checked: @event.tags, input_html: {class: 'form-check-input'}
    = f.input :location
    = f.input :description

  -# = f.input :starts_at, as: 'time'
  -# = f.input :ends_at
  -# = f.association :lab
  = f.submit class: 'btn btn-primary btn-lg mt-4'
