= simple_form_for [@lab,@event] do |f|
  = render 'form_errors', resource: @event
  = f.submit class: 'btn btn-primary'
  %fieldset
    .row
      .col-md-12
        = f.input :name, placeholder: "New Event"
      .col-md-6
        = f.input :starts_at, as: 'string', input_html: { placeholder: 'dd/mm/yy', class: 'flatpickr-time'}
      .col-md-6
        = f.input :ends_at, as: 'string', input_html: { placeholder: 'dd/mm/yy', class: 'flatpickr-time'}
        -# f.time_zone_select :time_zone
      .col-md-12
        = f.input :all_day, as: 'boolean'

  %fieldset
    = f.input :tags, as: 'check_boxes', collection: Event::Tags, checked: @event.tags
    = f.input :location
    = f.input :description

  -# = f.input :starts_at, as: 'time'
  -# = f.input :ends_at
  -# = f.association :lab
  = f.submit class: 'btn btn-primary'
