= simple_form_for [@lab,@event] do |f|
  = render 'form_errors', resource: @event
  %fieldset
    = f.input :name, placeholder: "New Event"
    .row
      -# .col-lg-5
      -#   = f.input :starts_at
      -# .col-lg-5
      -#   = f.input :ends_at
      .col-lg-2
        = f.input :start_date, as: 'string', input_html: { placeholder: 'dd/mm/yy', class: 'datepicker', data: { date_format: 'dd/mm/yy' }}
      .col-lg-2
        = f.input :start_time, as: 'string', input_html: { class: 'timepicker' }
      .col-lg-1
        to
      .col-lg-2
        = f.input :end_date, as: 'string', input_html: { placeholder: 'dd/mm/yy', class: 'datepicker', data: { date_format: 'dd/mm/yy' }}
      .col-lg-2
        = f.input :end_time, as: 'string', input_html: { class: 'timepicker' }
      .col-lg-3
        = f.time_zone_select :time_zone

    = f.input :all_day, as: 'boolean'

  %fieldset
    = f.input :tags, as: 'check_boxes', collection: Event::Tags, checked: @event.tags
    = f.input :location
    = f.input :description

  -# = f.input :starts_at, as: 'time'
  -# = f.input :ends_at
  -# = f.association :lab
  = f.submit class: 'button'
