.row
  .col-lg-12
    = title "Events"

    .panel
      %p This is a beta feature, and is only visible to superadmins.

    %ul
      - @events.each do |day, events|
        %li
          %ul
            - events.each do |event|
              %li
                = event.all_day? ? "All Day" : event.starts_at.strftime('%H:%M')
                = event
                -# = link_to event, event
                \-
                = link_to event.lab, event.lab

    = link_to "Add Event", new_lab_event_path, class: 'btn btn-success'
