.container
  .row
    .col-lg-12
      = title "Events"

      .panel
        %p This is a beta feature, and is only visible to superadmins.

      -#TODO: only display events of certain lab
      - @events.each do |day, events|
        .text-large
          = day.stamp('wednesday, 12th November 2012')
        %ul
          - events.each do |event|
            %li
              = event.all_day? ? "All Day" : event.starts_at.stamp('15:30')
              \-
              = event.all_day? ? "All Day" : event.ends_at.stamp('15:30')
              = link_to event, lab_event_path(event.lab, event)

    = link_to "Add Event", new_lab_event_path, class: 'btn btn-primary btn-lg'
