.container
  .row
    .col-lg-12
      = title "Events"

      .panel
        %p This is a beta feature, and is only visible to superadmins.

      - @events.each do |event|
        %ul
          %li
            .font-weight-bold
              = event.starts_at&.stamp('12th November 2012')
              \-
              = event.ends_at&.stamp('12th November 2012')
            .font-italic
              = event.starts_at&.stamp('15:30')
              \-
              = event.ends_at&.stamp('15:30')
            = link_to event, lab_event_path(event.lab, event)
        = paginate @events, theme: 'twitter-bootstrap-4', nav_class: "m-auto pt-3"

    = link_to "Add Event", new_lab_event_path, class: 'btn btn-primary btn-lg'
