.row
  .col-lg-12
    = render "breadcrumbs", event: @event
    - title @event
    - if @event.starts_at
      = @event.starts_at.strftime('at %H:%M on %A, %B %d, %Y')
    %p created by #{link_to @event.creator, @event.creator}
    = simple_format @event.description

    = link_to "Edit Event", edit_lab_event_path(@event.lab, @event), class: 'btn btn-success'
