.container
  .row
    .col-lg-12
      = render "breadcrumbs", event: @event
      = title @event
      - if @event.starts_at
        %p= @event.starts_at.stamp("At 15:00 on Wednesday, 3rd October 2020")
      - if @event.ends_at
        %p= @event.ends_at.stamp("Until 15:00 on Wednesday, 3rd October 2020")
      %p Created by #{link_to @event.creator, @event.creator}
      = simple_format @event.description

      = link_to "Edit Event", edit_lab_event_path(@event.lab, @event), class: 'btn btn-primary'
