.heading Labs
%ul
  - if @project.lab.present?
    %li
      = image_tag @project.lab.avatar.thumb("90x90#").url, class: 'avatar tiny'
      = link_to @project.lab do
        %strong= @project.lab.name
  - @project.collaborators.each do |collaborator|
    - unless collaborator == @project.lab
      %li
        = image_tag collaborator.avatar, class: 'avatar tiny'
        = link_to collaborator do
          %strong= collaborator.name
