.heading Contributors
%ul.project-contributors
  %li
    = image_tag @project.owner.avatar_url, class: 'avatar tiny'
    = link_to @project.owner do
      %strong= @project.owner.username
  - @project.contributors.each do |contributor|
    %li
      = image_tag contributor.avatar_url, class: 'avatar tiny'
      = link_to contributor do
        %strong= contributor.username
