%p contributors
%ul
  %li
    = image_tag hocho(@project.owner.avatar, "o=t&q=80&d=90x90"), class: 'avatar tiny'
    = link_to @project.owner do
      %strong= @project.owner.username
  - @project.contributors.each do |contributor|
    %li
      = image_tag hocho(contributor.avatar, "o=t&q=80&d=90x90"), class: 'avatar tiny'
      = link_to contributor do
        %strong= contributor.username
