= simple_form_for project, html: { multipart: true} do |f|
  = render "form_errors", resource: project
  %fieldset
    .text-large Core
    .row
      .col-lg-12
        .col-lg-4
          %label
            Owner
          .owner-container
            .icon
              %span
                = icon('code')
            .owner-btn
              = image_tag @project.owner.avatar_url, class: 'avatar tiny'
              = link_to @project.owner do
                %strong= @project.owner.username
        .col-lg-8
          = f.input :title
    .row
      .col-lg-12
        = render 'project_contribution_fields', :f => f
    .row
      .col-lg-12
        = render 'project_collaboration_fields', :f => f
  .row
    .col-lg-12
      %p
      %p
        You can use
        = link_to "Markdown", "http://daringfireball.net/projects/markdown/"
        (MD) to style text and include videos and images. Please see
        = link_to "MD-basics", "https://help.github.com/articles/markdown-basics/"
        for more info.
    %fieldset
      .text-large Description
      = f.input :description
      Here you can describe your project to the world.
      \

    %fieldset
      .text-large Tags
      .taglist
        = render 'tag_list', { :f => f, :project => project }

    %fieldset
      .text-large Steps
      %p.hint Add a project step to the documentation.
      = f.simple_fields_for :steps do |step|
        = render 'step_fields', f: step
      .steps
        = link_to_add_association f, :steps, class: 'btn btn-primary' do
          Add another step

    %fieldset
      .text-large Scope
      = f.input :scope
      This section can be used to describe the scope of your project and what
      you would like to accomplish.
      \
    %fieldset
      .text-large FAQ
      = f.input :faq
      This section can be used to answer some FAQ about your project.
      \
    %fieldset
      .text-large Media
      = render 'media', { :f => f, :project => project }
      \

    %fieldset
      = render 'form_links', f: f

  = f.submit class: 'btn btn-primary btn-lg mt-4'
