= simple_form_for project, html: { multipart: true} do |f|
  = render "form_errors", resource: project
  %fieldset
    %legend Core
    .row
      .columns.large-12
        .columns.large-4
          %label
            Owner
          .owner-container
            .icon
              %span
                = icon('code')
            .owner-btn
              = image_tag hocho(@project.owner.avatar, "o=t&q=80&d=90x90"), class: 'avatar tiny'
              = link_to @project.owner do
                %strong= @project.owner.username
        .columns.large-8
          = f.input :title
    .row
      .columns.large-12
        = render 'project_contribution_fields', :f => f
    .row
      .columns.large-12
        = render 'project_collaboration_fields', :f => f
  .row
    .columns.large-12
      %p
      %p
        You can use
        = link_to "Markdown", "http://daringfireball.net/projects/markdown/"
        (MD) to style text and include videos and images. Please see
        = link_to "MD-basics", "https://help.github.com/articles/markdown-basics/"
        for more info.
  .row
    .columns.large-12
      %fieldset
        %legend Description
        = f.input :description
        Here you can describe your project to the world.
        \

      %fieldset
        %legend Tags
        = render 'tag_list', { :f => f, :project => project }

      %fieldset
        %legend Steps
        %p.hint Add a project step to the documentation.
        = f.simple_fields_for :steps do |step|
          = render 'step_fields', f: step
        .steps
          = link_to_add_association f, :steps, class: 'button tiny' do
            = fa_icon "plus"
            Add another step

      %fieldset
        %legend Scope
        = f.input :scope
        This section can be used to describe the scope of your project and what
        you would like to accomplish.
        \
      %fieldset
        %legend FAQ
        = f.input :faq
        This section can be used to answer some FAQ about your project.
        \
      %fieldset
        %legend Media
        = render 'media', { :f => f, :project => project }
        \

  = render 'link_form_fields', :f => f

  = f.submit class: 'button'
