= simple_form_for project, html: { multipart: true} do |f|
  = render "form_errors", resource: project
  .row
    .columns.large-4
      %label
        Owner
      .owner-container
        .icon
          %span
            = icon('code')
        .owner-btn
          = image_tag hocho(@project.owner.avatar, "o=t&q=80&d=90x90"), class: 'avatar tiny'
          = link_to @project.owner do
            %strong= @project.owner.username
    .columns.large-8
      = f.input :title
  = render 'project_contribution_fields', :f => f
  = render 'project_collaboration_fields', :f => f
  .row
    .columns.large-12
      %p
      %p
        You can use
        = link_to "Markdown", "http://daringfireball.net/projects/markdown/"
        (MD) to style text and include videos and images. Please see
        = link_to "MD-basics", "https://help.github.com/articles/markdown-basics/"
        for more info.
  .row
    .columns.large-12
      %p
        = f.input :description
        Here you can describe your project to the world.
        \

  .row
    .columns.large-12
      %p
        = f.input :scope
        This section can be used to describe the scope of your project and what
        you would like to accomplish.
        \

  .row
    .columns.large-12
      %p
        = f.input :faq
        This section can be used to answer some FAQ about your project.
        \
  .row
    .columns.large-12
      %p
        = f.label :images_files
        = f.fields_for :documents_attributes, project.documents do |d|
          = d.file_field "image", name: "project[documents_attributes][][image]", multiple: true
        - if @project.documents.present?
          - @project.documents.each do |document|
            %ul
              %li
                = image_tag document.image.url(:thumb)
  .row
    .columns.large-6
      = icon('link')
      = f.input :web
      = icon('github')
      = f.input :github
      = icon('hdd-o')
      = f.input :drive
      = icon('twitter')
      = f.input :twitter
      = icon('flickr')
      = f.input :flickr
      = icon('instagram')
      = f.input :instagram
    .columns.large-6
      = icon('bitbucket')
      = f.input :bitbucket
      = icon('dropbox')
      = f.input :dropbox
      = icon('facebook')
      = f.input :facebook
      = icon('google-plus')
      = f.input :googleplus
      = icon('youtube')
      = f.input :youtube
      = icon('vimeo-square')
      = f.input :vimeo

  = f.submit class: 'button'
