%h5 Links
%ul
  - if @project.web.present?
    %li
      = icon('link')
      %a{ href: @project.web, title: "Project www" }
        %strong
          = @project.web
  - if @project.github.present?
    %li
      = icon('github')
      %a{ href: @project.github, title: "Github repository" }
        %strong
          Github repository
  - if @project.dropbox.present?
    %li
      = icon('dropbox')
      %a{ href: @project.dropbox, title: "Dropbox folder"}
        %strong
          Dropbox folder
  - if @project.drive.present?
    %li
      = icon('hdd-o')
      %a{ href: @project.Drive, title: "Google Drive folder"}
        %strong
          Google Drive folder
  - if @project.bitbucket.present?
    %li
      = icon('bitbucket')
      %a{ href: @project.bitbucket, title: "Bitbucket repository"}
        %strong
          Bitbucket repository
  - if @project.twitter.present?
    %li
      = icon('twitter')
      %a{ href: @project.twitter, title: "Twitter"}
        %strong
          Twitter
  - if @project.facebook.present?
    %li
      = icon('facebook')
      %a{ href: @project.facebook, title: "Facebook"}
        %strong
          Facebook
  - if @project.googleplus.present?
    %li
      = icon('google-plus')
      %a{ href: @project.googleplus, title: "Google+"}
        %strong
          Google+
  - if @project.vimeo.present?
    %li
      = icon('vimeo-square')
      %a{ href: @project.vimeo, title: "Vimeo"}
        %strong
          Vimeo
  - if @project.youtube.present?
    %li
      = icon('youtube')
      %a{ href: @project.youtube, title: "Youtube"}
        %strong
          Youtube
  - if @project.flickr.present?
    %li
      = icon('flickr')
      %a{ href: @project.flickr, title: "Flickr"}
        %strong
          Flickr
  - if @project.instagram.present?
    %li
      = icon('instagram')
      %a{ href: @project.instagram, title: "Instagram"}
        %strong
          Instagram
