.row
  .columns.large-12.main-title
    .row.header
      .columns.large-4
        %h1= @project.title
        - if current_user
          - if current_user.favourited? @project.id
            = link_to "Dislike", user_favourite_path(current_user, current_user.favourite(@project.id), project_id: @project.id), class: 'fav', method: :delete
          - else
            = link_to "Like", user_favourites_path(current_user, project_id: @project.id), class: 'fav', method: :post
        %ul
          %li
            = icon('code')
            = link_to @project.owner do
              = @project.owner.username

          - if @project.lab.present?
            %li
              = icon('map-marker')
              = link_to @project.lab do
                = @project.lab.name

          - if (@project.contributors.count > 0)
            %li
              = icon('users')
              = @project.contributors.count + 1
              contributors

          %li
            = icon('clock-o')
            Last updated at:
            = time_tag(@project.updated_at.to_date)

        - if @project.tag_list.present?
          %ul.taglist
            = icon('tags')
            - @project.tag_list.each do |tag|
              %li
                %strong
                  = link_to "##{tag}", "/projects/tags?q=#{tag}"

        .share
          %a.twitter-share-button{"data-hashtags" => "fablabsio", :href => "https://twitter.com/share"} Tweet
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

      .columns.large-8.polaroid
        - if @project.documents.present?
          %ul.example-orbit{data: { orbit: "" }}
            - @project.documents.each_with_index do |document, index|
              %li
                = image_tag document.image.url(:medium), alt: "slide #{index}"
