- if @project.documents.empty?
  - cover = 'none'
- elsif @project.cover.present?
  - cover = @project.documents.find(@project.cover).image.url
- else
  - cover = @project.documents.first.image.url

- if cover == 'none'
  .main-project
- else
  .main-project{ :style => "background-image: url('#{cover}')" }

.row
  .columns.large-8
    .main-title
      %p
        %span
          = icon('code')
          = link_to @project.owner do
            = @project.owner.username

      %h1= @project.title

      %p
        - if @project.lab.present?
          %span
            = icon('map-marker')
            = link_to @project.lab do
              = @project.lab.name

        - if (@project.contributors.count > 0)
          %span
            = icon('users')
            = @project.contributors.count + 1
            contributors

        %span
          = icon('clock-o')
          Last updated at:
          = time_tag(@project.updated_at.to_date)
  .columns.large-4
    - if @project.tag_list.present?
      %h5
        Tags
      %ul.taglist
        - @project.tag_list.each do |tag|
          %li
            %strong
              = "##{tag}"
