.row
  .col-lg-3
    %span#file-input-name
  .col-lg-9
    = f.label :images_files
    = f.fields_for :documents_attributes, project.documents do |d|
      %span#file-click.button.button-file
        Pick file
        = d.file_field "image", name: "project[documents_attributes][][image]", class: "document_image", multiple: true
%hr/
.row
  .col-lg-3
  .col-lg-9
    - if @project.documents.present?
      = f.label "Thumbnails"
      %p
        Select the image that you would like to use as cover image.
      %ul
        - @project.documents.each do |document|
          %li.thumbs
            %div
              = f.radio_button :cover, document.id
              %label.radio
                = document.id
            %h4
              = link_to icon('trash-o'), document_path(document), method: :delete
            = image_tag hocho(document.image.url(:thumb), "o=t&q=80&d=200x200")
