- cache ["v2", project] do
  = content_tag_for :div, project, class: 'card' do
    - cover = project.project_cover
    .card-image
      = link_to project do
        - if cover
          = image_tag project.project_cover.thumb("310x330#").url, itemprop: "cover"

    .card-content
      = link_to project do
        .card-title= project.title
        .card-subtitle
          = time_tag(project.updated_at.to_date)

        = image_tag ("icons/arrow-right.svg"), :class => "card-arrow"
