- cache ["v2", project] do
  = content_tag_for :div, project, class: 'card' do
    - cover = project.project_cover
    .card-image
      = link_to project do
        - if cover
          = image_tag project.project_cover.thumb("310x330#").url, itemprop: "cover"

    .card-content
      = link_to project, class: 'card-title', itemprop: 'title' do
        = project.title

      .card-subtitle
        = time_tag(project.updated_at.to_date)

      = link_to project do
        %i.card-arrow.fa.fa-arrow-right
