- cache ["v2", project] do
  .large-block-grid-3
    = content_tag_for :div, project do
      .owner-avatar
        = link_to project.owner do
          = image_tag hocho(project.owner.avatar, "o=t&q=80&d=90x90"), class: 'avatar'

      = render 'projects/small_cover', { :project => project }

      .project-description
        %span.project-description-span
          = truncate strip_tags(restricted_markdown(project.description)), :length => 120, :omission => "..."
          = link_to "more", project

      .project-baseline
        %p
          %span
            = icon('code')
            = link_to project.owner do
              = project.owner.username

          - if project.lab.present?
            %span
              = icon('map-marker')
              = link_to project.lab do
                = project.lab.name

          - if (project.contributors.count > 0)
            %span
              = icon('users')
              = project.contributors.count + 1

          %span
            = icon('clock-o')
            = time_tag(project.updated_at.to_date)
