- cache ["v1", project] do
  %li.large-block-grid-3
    = content_tag_for :div, project do
      .project-title
        = link_to project do
          %span.project-title-span= project.title
      .project-description
        %span.project-description-span
          = truncate project.description, :length => 130, :omission => "..."
          = link_to "more", project
      .project-baseline
        %p

          %span
            = icon('code')
            = link_to project.owner do
              = project.owner.username

          - if project.lab.present?
            %span
              = icon('map-marker')
              = link_to project.lab do
                = project.lab.name

          - if (project.contributors.count > 0)
            %span
              = icon('users')
              = project.contributors.count + 1

          %span
            = icon('clock-o')
            = time_tag(project.updated_at.to_date)
