- if project.documents.empty?
  - cover = 'none'
- elsif project.cover.present?
  - cover = project.documents.find(project.cover).image.url
- else
  - cover = project.documents.first.image.url

- if cover == 'none'
  .project-title
    = link_to project do
      %span.project-title-span= truncate project.title, length: 25
- else
  .project-title{ :style => "background-image: url('#{cover}')" }
    = link_to project do
      %span.project-title-span= truncate project.title, length: 25
