%fieldset.nested-fields
  .row
    .step
      .text-large
        Step
      = f.input :title, label: :title, placeholder: 'First step'
      = f.input :description, label: :description, placeholder: 'This is the first step'
      = f.input :position, label: :position

      %label
        links
      = f.simple_fields_for :links do |link|
        = render 'link_fields', f: link
      .links
        = link_to_add_association f, :links, class: 'btn btn-primary' do
          = "Add link"

    .question

    = link_to_remove_association f, class: 'btn btn-danger' do
      = "Remove step"
