- title "Projects"

.subnavbar
  .container.subnavbar-container
    .subnavbar-section.subnavbar-section-center
      .title Projects

    .subnavbar-section.subnavbar-section-right
      - if current_user
        = link_to new_project_path, class: "btn btn-primary" do
          = fa_icon "plus", text: t("views.projects.index.new_project", default: "Add a new Project")
      - else
        = link_to new_project_path, class: "btn btn-primary", data: {toggle: "tooltip", placement: "bottom" }, title: "You need to be signed in to add a Project" do
          = fa_icon "plus", text: t("views.labs.index.new_project", default: "Add a new Project")

.container
  .row
    #project-container
      = render @projects
  .row
    = paginate @projects
    %div
      = link_to map_projects_path, class: "map btn btn-primary" do
        = fa_icon "globe", text: t("views.projects.index.map", default: "Map")
