- title "Projects"
.row.top
  .col-lg-12
  %h2 Projects
.row.row-no-padding
  .col-md-8
    %p
    A Fab Lab is a technical prototyping platform for innovation and invention, providing stimulus for local entrepreneurship. A Fab Lab is also a platform for learning and innovation: a place to play, to create, to learn, to mentor, to invent. To be a Fab Lab means connecting to a global community of learners, educators, technologists, researchers, makers and innovators- -a knowledge sharing network that spans 30 countries and 24 time zones. Because all Fab Labs share common tools and processes, the program is building a global network, a distributed laboratory for research and invention.
    %p
    You can read more on the Fab Foundation website
    = succeed "." do
      %a{:href => "http://fabfoundation.org/index.php/what-is-a-fab-lab/index.html"} here

  .col-md-4
    %h4 Expand the Network
    %p Here you can add your Project to the list.
    - if current_user
      = link_to new_project_path, class: "btn btn-success" do
        = fa_icon "plus", text: t("views.projects.index.new_project", default: "Add a new Project")

.row.row-no-padding
  .col-lg-12
    = render "breadcrumbs"

.row
  .col-lg-12
    #project-container
      - @projects.in_groups_of(3, false) do |group|
        .row
          - group.each do |project|
            .col-lg-4
              = render project

.row
  .col-lg-12
    = paginate @projects
    %div
      = link_to "JSON", api_v0_projects_url(format: 'json'), class: 'btn btn-primary'
      .hint CSV and XLSX (Excel) coming soon.
    %div
      = link_to map_projects_path, class: "map btn btn-primary" do
        = fa_icon "globe", text: t("views.projects.index.map", default: "Map")
