- title "Projects"

.container
  .row
    .col-4
      .title Projects

    .col-4
      - if current_user
        = link_to new_project_path, class: "btn btn-primary" do
          = fa_icon "plus", text: t("views.projects.index.new_project", default: "Add a new Project")
      - else
        = link_to new_project_path, class: "btn btn-primary", data: {toggle: "tooltip", placement: "bottom" }, title: "You need to be signed in to add a Project" do
          = fa_icon "plus", text: t("views.labs.index.new_project", default: "Add a new Project")

.container
  .row
    #project-container
      = render @projects
  .row
    = paginate @projects, theme: 'twitter-bootstrap-4', nav_class: "m-auto pt-3"
    %div
      = link_to map_projects_path, class: "map btn btn-primary" do
        = fa_icon "globe", text: t("views.projects.index.map", default: "Map")
