.row
  .columns.large-12
    = render "breadcrumbs"
    - title "Projects"
.row
  .columns.large-12
    %ul#project-container.large-block-grid-3.medium-block-grid-3.small-block-grid-1= render @projects

    = paginate @projects
    - if current_user
      = link_to new_project_path, class: "button tiny success" do
        = fa_icon "plus", text: t("views.projects.index.new_project", default: "New project")
    %div
      = link_to "JSON", api_v0_projects_url(format: 'json'), class: 'button tiny'
        .hint CSV and XLSX (Excel) coming soon.
    %div
      = link_to map_projects_path, class: "map button small #{'secondary' if action_name != 'map'}" do
        = fa_icon "globe", text: t("views.projects.index.map", default: "Map")
