- title @project.title

.row
  .columns.large-12
    = render "breadcrumbs"

= render "main_cover"
.stripe
.row.project-description
  .columns.large-8
    - if @project.description.present?
      .heading
        = icon('file-text-o')
        Description
      .box
        = simple_format(markdown(@project.description))

    - if @project.documents.present?
      .heading
        = icon('picture-o')
        Images
      .box
        %ul.clearing-thumbs{data: { clearing: "" } }
          - @project.documents.each do |document|
            %li
              = link_to document.image.url(:large), class: "image_link th [radius]" do
                = image_tag document.image.url(:thumb)

    - unless @project.steps.empty?
      .heading
        = icon('cog')
        Steps
      .box
        - @project.steps.order(position: :asc).each do |step|
          = render 'steps', { :step => step }

    - if @project.scope.present?
      .heading
        = icon('asterisk')
        Scope
      .box
        = simple_format(markdown(@project.scope))

    - if @project.faq.present?
      .heading
        = icon('question')
        FAQ
      .box
        = simple_format(markdown(@project.faq))

  .columns.large-4
    = render "collaborations"
    = render "link_side_fields"
    = render "contributors"

.row
  .columns.large-12
    - if current_or_null_user.can_update?(@project)
      = link_to icon('pencil'), edit_project_path(@project), class: 'button'
    - if current_or_null_user.can_delete?(@project)
      = link_to icon('trash-o'), @project, method: :delete, class: 'button red'
.row
  #disqus_thread
  :javascript
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'fablabsio';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  %noscript
    Please enable JavaScript to view the
    %a{:href => "https://disqus.com/?ref_noscript", :rel => "nofollow"} comments powered by Disqus.
