- title @project.title

.row
  .columns.large-12
    = render "breadcrumbs"

= render "main_cover"
.stripe
.row.project-description
  .columns.large-8
    - if @project.description.present?
      .heading
        = icon('file-text-o')
        Description
      .box
        = simple_format(markdown(@project.description))

    - if @project.documents.present?
      .heading
        = icon('picture-o')
        Images
      .box
        %ul.clearing-thumbs{data: { clearing: "" } }
          - @project.documents.each do |document|
            %li
              = link_to document.image.url(:large), class: "image_link th [radius]" do
                = image_tag document.image.url(:thumb)

    - unless @project.steps.empty?
      .heading
        = icon('cog')
        Steps
      .box
        - @project.steps.order(position: :asc).each do |step|
          = render 'steps', { :step => step }

    - if @project.scope.present?
      .heading
        = icon('asterisk')
        Scope
      .box
        = simple_format(markdown(@project.scope))

    - if @project.faq.present?
      .heading
        = icon('question')
        FAQ
      .box
        = simple_format(markdown(@project.faq))

  .columns.large-4
    = render "collaborations"
    = render "link_side_fields", object: @project
    = render "contributors"

.row
  .columns.large-12
    - if current_or_null_user.can_update?(@project)
      = link_to icon('pencil'), edit_project_path(@project), class: 'button'
    - if current_or_null_user.can_delete?(@project)
      = link_to icon('trash-o'), @project, method: :delete, class: 'button red', data: { confirm: "Are you sure?" }
.row
  .columns.large-12
    - if @project.discourse_id.present?
      %h3 Discuss this Project on discuss.fablabs.io
      = comments_script(@project.discourse_id)
