- if event.present? and current_or_null_user.can_read?(Event)
  .vertical-timeline-block
    .vertical-timeline-circle
    .vertical-timeline-content
      = content_tag_for :div, activity do
        .text-large
          = link_to event, lab_event_path(event.lab, event)
        .text-medium
          = link_to activity.creator, activity.creator, class: 'user'
          = event
          = link_to event, lab_event_path(event.lab, event)
          at
          = link_to event.lab, event.lab
        .text-small
          %i #{time_ago_in_words(activity.created_at)} ago
