- if employee.present?
  = content_tag_for :li, activity do
    = icon('users')
    %span
      = link_to activity.creator, activity.creator, class: 'user'
      applied to be listed as an employee at
      = link_to employee.lab, employee.lab
    %i #{time_ago_in_words(activity.created_at)} ago
