.row
  .col-lg-12
    = render "backstage/header"
    = title "My Projects"

    .well
      = search_form_for [:backstage, @q], builder: SimpleForm::FormBuilder do |f|
        .row
          .col-lg-3= f.input :user_first_name_cont, label: "First Name"
          .col-lg-3= f.input :user_last_name_cont, label: 'Last name'
          .col-lg-3= f.input :user_username_cont, label: 'Username'
          .col-lg-3= f.input :user_email_cont, label: 'Email'
        .row
          .col-lg-3
            = f.input :user_country_code_eq, as: 'country', label: 'Country', iso_codes: true, include_blank: 'ALL'
          .col-lg-3
            = f.input :user_workflow_state_eq, collection: User.workflow_spec.state_names, label: "State", include_blank: 'ALL'
          .col-lg-3
            = f.input :user_roles_name_eq, collection: Role::AVAILABLE, include_blank: 'ALL'
          .col-lg-3
            = f.submit "Filter", class: 'btn btn-success btn-lg'



    = page_entries_info @projects
    %table.table
      %thead
        %tr
          %th ID
          %th Name
          %th Role
          %th Lab
          %th Applied
      %tbody
        - @projects.each do |projects|
          - if employee.user.present?
            = content_tag_for :tr, employee, {class: employee.current_state} do
              %td= employee.id
              %td= link_to employee.user.full_name, lab_employees_url(employee.lab)
              %td= employee.job_title
              %td= link_to employee.lab, employee.lab
              %td= employee.created_at.to_s(:short)

    = paginate @projects
