- if false # project.present?
  .vertical-timeline-block
    .vertical-timeline-circle
    .vertical-timeline-content
      = content_tag_for :div, activity do
        .text-large
          = link_to project.title, project
        %h5
          = link_to activity.creator, activity.creator, class: 'user'
          created a new project
          = project.title
        .text-small
          %i #{time_ago_in_words(activity.created_at)} ago
