.row
  .columns.large-12
    = title "About"

    %h2 What
    %p
      %strong Fablabs.io
      is the online social network of the international Fab Lab community. It started as a spin-off project in Fab Lab Barcelona by Tomas Diez and John Rees, and is the current official list of Fab Labs that share same principles, tools, and philosophy around the future of technology and its role in society. Fablabs.io is an exchange platform for people, labs, projects, machines, events and groups that operate around the Fab Lab Network, which collaboration and communication tools in order to align interests and to expand the global scale of this community.
    %p
      The Fab Lab Network is an open, creative community of fabricators, artists, scientists, engineers, educators, students, amateurs, professionals, ages 5 to 75+, located in more than 40 countries in approximately 1000 Fab Labs.
      %strong Fablabs.io
      is the official platform for the Fab Lab Network, where Fab Labs are mapped, knowledge is shared, projects are developed and where the community discuss these topics.
      %strong Fablabs.io
      is the official platform that connects people, projects and labs. You can read more about Fab Labs
      = succeed "." do
        %a{:href => "http://fab.cba.mit.edu/about/faq/"} here
    %p
      By using
      %strong Fablabs.io
      all Fab Labs are mapped and connected globally, and their knowledge and technical and design innovations become embedded in the larger ecosystem of the Fab Lab Network, which is an open, creative community of fabricators, artists, scientists, engineers, educators, students, amateurs, and professionals located in more than 75 countries.
    %h2 Why
    %p
      Around 1000 Fab Labs around the world are currently using this platform to share developments and collaborate online. The
      %strong Fablabs.io
      platform also fosters interactions between designers, makers and users, and aims to engage discussions about matters of concerns of the wider public in which Fab Labs are embedded, in cities and remote areas of the world.
    %p
      %strong Fablabs.io
      is not intended to replace existing platforms such as Facebook or GitHub, which are widely used by makers, hackers and technologists to document and share open source developments. In fact, when adding a project to the
      %strong Fablabs.io
      repository, it is possible to include links to Github repositories.
    %p
      By adding new features and integrating existing platforms,
      %strong Fablabs.io
      facilitates distributed collaborations across participants in different Fab Labs and it embeds their creations in the more specific ecosystem of the maker community.
    %h2 Who
    %p
      %strong FabLabs.io
      has been developed since 2014 by the Fab City Research Lab (aka
      = succeed ")" do
        %a{:href => "http://fablabbcn.org/"} Fab Lab Barcelona
      team at
      %a{:href => "http://iaac.net/"} IAAC
      and in collaboration with the
      = succeed "." do
        %a{:href => "http://fabfoundation.org/"} Fab Foundation
      It is a free/open source software, released under an
      %a{:href => "http://choosealicense.com/licenses/agpl-3.0/"} AGPL license. Currently, its development and its source code can be accessed here:
      = succeed "." do
      %a{:href => "https://github.com/fablabbcn/fablabs"} https://github.com/fablabbcn/fablabs
    %p
      The current team started in October 2016, it will grow in the next months and at the moment these are its members:
    %ul
      %li Massimo Menichinelli, Project Manager
      %li Matias Verderau, Network Manager
      %li Gui Seiz, Creative Director and Design
      %li Mariana Quintero, Design
    %h2 Future
    %p
      As
      %strong Fablabs.io
      is open source, you can collaborate on its development. We have set up the
      %a{:href => "https://discuss.fablabs.io/c/site-feedback"} Site feedback
      category on
      %a{:href => "https://discuss.fablabs.io/"} our discussion platform for discussing
      = succeed "," do
        %strong Fablabs.io
      %strong Fablabs.io
      and its future on the
      %a{:href => "https://discuss.fablabs.io/c/site-feedback"} Site feedback
      category; if you have instead messages regarding the technical development or bugs of the platform, we would ask you to discuss these on the
      %strong Fablabs.io
      repository on GitHub (
      %strong Fablabs.io
      is open source software!) at
      = succeed "." do
        %a{:href => "https://github.com/fablabbcn/fablabs"} https://github.com/fablabbcn/fablabs
