- title t("views.home.welcome")

.container.mb-5
  = render 'static/alt/corona'
.bg-grey
  = render 'static/alt/hero'
= render 'static/alt/features'
.py-5.bg-primary
  = render 'static/alt/banner'
.py-5.bg-grey
  = render 'static/alt/projects', projects: @projects
.py-5.bg-white
  = render 'static/alt/news'
.py-5.bg-grey
  = render 'static/alt/events'

