.modal-dialog
  .modal-content

    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title Choose Your Language

    .modal-body
      .row
        .col-lg-4
          .media.locale
            = link_to root_path(locale: 'en'), class: 'pull-left' do
              = image_tag "locales/en.png"
            .media-body= link_to "English", root_path(locale: 'en')
        .col-lg-4
          .media.locale
            = link_to root_path(locale: 'es'), class: 'pull-left' do
              = image_tag "locales/es.png"
            .media-body= link_to "Español", root_path(locale: 'es')

    .modal-footer{style: 'text-align: center'}
      %p
        Is your language not listed? You can help us by adding translations on
        = link_to "localeapp", "#"
      -# %button.button.button-default{"data-dismiss" => "modal", type: "button"} Close
      -# %button.button.button-primary{type: "button"} Save changes
