- title "Welcome"

#homepage-map{style: "background-size: cover; background-position: top center; background-image: url(https://i.imgur.com/WXrpbgp.jpg);"}
  .filter
  #homepage-search
    - if false#@country_labs
      %p Show me Fab Labs in...
      .row.collapse
        .columns.small-9.large-10
          = text_field_tag :search, current_country, style: "width: 100%; max-width: 100%;"
        .columns.small-3.large-2
          = link_to "#", class: 'submit' do
            = fa_icon "search"
    - else
      %p Show me Fab Labs
      = link_to labs_path, class: 'button ' do
        = fa_icon "globe"
        = t("views.home.around_the_world", default: "Around the World")
        -# {country: current_country.alpha2.downcase}
        -# in #{current_country}

- if @country_labs
  .near-me.stripe
    .row
      .columns.large-2
        %h2 Fab Labs in #{current_country}...
      .columns.large-9.small-10
        .row
          - @nearby_labs.each do |lab|
            .columns.large-4.lab-near-you.left
              .media
                .pull-left
                  = link_to lab do
                    = image_tag lab.avatar, class: 'avatar small'
                .media-body
                  = link_to lab, lab
                  .location
                    %span.glyphicon.glyphicon-map-marker
                    = lab.short_address
                  -# .distance
                  -#   %span.glyphicon.glyphicon-road
                  -#   10km Away
      .columns.large-1.small-2
        = link_to labs_path(country: current_country.alpha2.downcase), class: 'more' do
          = fa_icon "chevron-right"


.whats-a-fab-lab.stripe
  -#{style: "background-size: cover; background-position: center center; background-image: url(http://i.imgur.com/e9Avfcp.jpg); height: 400px"}
  .row
    .columns.large-12
      %h2 I'm new here, what's a Fab Lab?
      %p Fab labs provide widespread access to modern means for invention. They began as an outreach project from MIT’s Center for Bits and Atoms (CBA), and became into a collaborative and global network. You can find more information about Fab Labs on the #{link_to "Fab Foundation Website", "http://www.fabfoundation.org"}. The annotated photo below illustrates the facilities of a typical Fab Lab.

#frostis-lab= image_tag "https://i.imgur.com/KFS2V4n.jpg", id: "img"
.credit{style: 'background: #F0F0F0'}
  .row
    .columns.large-12.text-right
      .photo-from
        Photo from
        = link_to "Fab Lab Vestmannaeyjar", "/vestmannaeyjar"\
        ,
        = link_to "Iceland", "/labs?country=is"

.whos-it-for.stripe
  .row
    .columns.large-12
      %h2 So who is fablabs.io for?

    .columns.large-12
      .row.collapse.case-studies
        .columns.large-6.case-study
          .media
            .pull-left= image_tag "home-icons/enthusiast.png"
            .media-body
              %p
                I'm an
                %strong ENTHUSIAST
                and I want to participate with the global Fab Lab Network. Find labs near me, see what's happening in the labs around the world and maybe one day open my own!

        .columns.large-6.case-study
          .media
            .pull-left= image_tag "home-icons/manager.png"
            .media-body
              %p
                I'm a
                %strong FAB LAB MANAGER
                and I want to add my lab to the network. Then I'll be able to share information and knowledge from my lab and interact with fellow users of the site.

  .row
    .columns.large-12{style: "text-align: center"}
      = link_to signup_path, class: 'button big-signup success' do
        .glyphicon.glyphicon-check
        Sign up


.stripe.what-can-you-do
  .features
    .row
      .columns.large-12
        %h2 And what can I do on the site?
    .row

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/profile.png"
          .columns.small-9.large-8
            %h3 Lab Profiles
            %p Each lab has its own profile page which can is maintained and updated by its staff

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/bookmark.png"
          .columns.small-9.large-8
            %h3 Favourite Labs
            %p Bookmark your favourite labs in order to receive updates specific to them in the future

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/map.png"
          .columns.small-9.large-8
            %h3 World Map
            %p An interactive map showing the location of all the Fab Labs around the world

    .row.coming-next
      .columns.large-12
        %h2 What's coming next?

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/clock.png"
          .columns.small-9.large-8
            %h3 Opening Hours
            %p See at a glance which labs are open now, and when they will be open

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/calendar.png"
          .columns.small-9.large-8
            %h3 Upcoming Events
            %p A calendar of all upcoming events for the global Fab Lab Network

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/discussions.png"
          .columns.small-9.large-8
            %h3 Discussions
            %p All users will have a place to discuss both general and lab-specific topics
