- title t("views.home.welcome")

.homepage.container-fluid
  .row
    .homepage-header
      .container
        .col-12
          .homepage-header-content
            .text-small
              = t("views.home.welcome")
            .text-large.text-primary-custom
              = t("views.home.whats_a_fab_lab")
            .text-medium
              = t("views.home.fab_labs_description", fab_foundation: (link_to "Fab Foundation", "http://www.fabfoundation.org") ).html_safe

          .homepage-card
            .text-small
              = t("views.home.lab_card.subtitle", default: "Profile")
            .text-large
              = t("views.home.lab_card.title", default: "I’m a Fablab")
            .text-medium
              = t("views.home.lab_card.description", default: "Each lab has its own profile page which can be maintained and updated by its staff")

            =image_tag ("home/lab-illustration.png"), :class => "homepage-card-image"

            = link_to new_lab_path, class: 'homepage-cta' do
              = t("views.home.lab_card.cta", default: "Register your lab")
              = image_tag ("icons/arrow-right.svg")

          .homepage-card
            .text-small
              = t("views.home.person_card.subtitle", default: "Explore")
            .text-large
              = t("views.home.person_card.title", default: "I’m a Person")
            .text-medium
              = t("views.home.person_card.description", default: "An interactive map showing the location of all the Fab Labs around the world")

            =image_tag ("home/person-illustration.png"), :class => "homepage-card-image"

            = link_to signup_path, class: 'homepage-cta' do
              = t("views.home.person_card.cta", default: "Register an account")
              = image_tag ("icons/arrow-right.svg")

  .container
    .homepage-quote.text-primary-custom
      .homepage-divider
      = t("views.home.quote", default: "Because all Fab Labs share common tools and processes, the program is building a global network, a distributed laboratory for research and invention.")

  .visible-lg-block.container
    .homepage-circles
      .homepage-circle.homepage-circle-1
      .homepage-circle.homepage-circle-2
      .homepage-circle.homepage-circle-3
      .homepage-circle.homepage-circle-4
      .homepage-circle.homepage-circle-5
      .homepage-circle.homepage-circle-6
      .homepage-circle.homepage-circle-7
      .homepage-circle.homepage-circle-8
      .homepage-circles-content.homepage-info-section
        .homepage-divider-small
        .text-large
          = t("views.home.fablabs-section.title", default: "All Fab Labs share common tools and processes.")
        .text-medium
          = t("views.home.fablabs-section.description", default: "In order to build a global network, a distributed laboratory for research and invention.")
        = link_to labs_path, class: 'homepage-cta' do
          = t("views.home.fablabs-section.cta", default: "Learn more")
          = image_tag ("icons/arrow-right.svg")

  .hidden-lg.container
    .row
      .col-12
        .homepage-divider-small
        .text-large
          = t("views.home.fablabs-section.title", default: "All Fab Labs share common tools and processes.")
        .text-medium
          = t("views.home.fablabs-section.description", default: "In order to build a global network, a distributed laboratory for research and invention.")
        = link_to labs_path, class: 'homepage-cta' do
          = t("views.home.fablabs-section.cta", default: "Learn more")
          = image_tag ("icons/arrow-right.svg")

  .homepage-fablabs-section
    .container
      .row
        .col-sm-5
          .homepage-info-section
            .homepage-divider-small
            .text-large
              = t("views.home.fablabs-section.title", default: "Global league of fab labs for local purposes.")
            .text-medium
              = t("views.home.fablabs-section.description", default: "In order to build a global network, a distributed laboratory for research and invention.")
            = link_to labs_path, class: 'homepage-cta' do
              = t("views.home.fablabs-section.cta", default: "See the full list")
              = image_tag ("icons/arrow-right.svg")
        .col-sm-7
          =image_tag ("home/fablabs-logos.png"), :class => "homepage-fablabs-logos"


  .homepage-cards-footer
    .container
      .row
        .col-12
          .homepage-card
            .text-small
              = t("views.home.lab_card.subtitle", default: "Profile")
            .text-large
              = t("views.home.lab_card.title", default: "I’m a Fablab")
            .text-medium
              = t("views.home.lab_card.description", default: "Each lab has its own profile page which can be maintained and updated by its staff")

            =image_tag ("home/lab-illustration.png"), :class => "homepage-card-image"

            = link_to new_lab_path, class: 'homepage-cta' do
              = t("views.home.lab_card.cta", default: "Register your lab")
              = image_tag ("icons/arrow-right.svg")

          .homepage-card
            .text-small
              = t("views.home.person_card.subtitle", default: "Explore")
            .text-large
              = t("views.home.person_card.title", default: "I’m a Person")
            .text-medium
              = t("views.home.person_card.description", default: "An interactive map showing the location of all the Fab Labs around the world")

            =image_tag ("home/person-illustration.png"), :class => "homepage-card-image"

            = link_to signup_path, class: 'homepage-cta' do
              = t("views.home.person_card.cta", default: "Register an account")
              = image_tag ("icons/arrow-right.svg")
