- title t("views.home.welcome")

#homepage-map{style: "background-size: cover; background-position: top center; background-image: url(https://i.imgur.com/WXrpbgp.jpg);"}
  .filter
  #homepage-search
    %p Show me Fab Labs
    = link_to labs_path, class: 'button ' do
      = fa_icon "globe"
      = t("views.home.around_the_world")

.whats-a-fab-lab.stripe
  .row
    .columns.large-12
      %h2= t("views.home.whats_a_fab_lab")
      %p= t("views.home.fab_labs_description", fab_foundation: (link_to "Fab Foundation", "http://www.fabfoundation.org") ).html_safe

#frostis-lab= image_tag "https://i.imgur.com/KFS2V4n.jpg", id: "img"
.credit{style: 'background: #F0F0F0'}
  .row
    .columns.large-12.text-right
      .photo-from
        Concept and photo from
        = link_to "Fab Lab Vestmannaeyjar", "/vestmannaeyjar"\
        ,
        = link_to "Iceland", "/labs?country=is"

.whos-it-for.stripe
  .row
    .columns.large-12
      %h2= t("views.home.who_is_it_for")

    .columns.large-12
      .row.collapse.case-studies
        .columns.large-6.case-study
          .media
            .pull-left= image_tag "home-icons/enthusiast.png", style: 'width: 100px'
            .media-body
              %p
                I'm an
                %strong ENTHUSIAST
                and I want to participate with the global Fab Lab Network. Find labs near me, see what's happening in the labs around the world and maybe one day open my own!

        .columns.large-6.case-study
          .media
            .pull-left= image_tag "home-icons/manager.png", style: 'width: 100px'
            .media-body
              %p
                I'm a
                %strong FAB LAB MANAGER
                and I want to add my lab to the network. Then I'll be able to share information and knowledge from my lab and interact with fellow users of the site.

  .row
    .columns.large-12{style: "text-align: center"}
      = link_to signup_path, class: 'button big-signup success' do
        .glyphicon.glyphicon-check
        Sign up


.stripe.what-can-you-do
  .features
    .row
      .columns.large-12
        %h2= t("views.home.what_can_i_do")
    .row

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/profile.png"
          .columns.small-9.large-8
            %h3 Lab Profiles
            %p Each lab has its own profile page which can be maintained and updated by its staff

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/map.png"
          .columns.small-9.large-8
            %h3 World Map
            %p An interactive map showing the location of all the Fab Labs around the world

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/machines.png"
          .columns.small-9.large-8
            %h3 Machines
            %p A growing directory/wiki of all of the tools used and recommended by Fab Labs



    .row.coming-next
      .columns.large-12
        %h2= t("views.home.whats_coming_next")

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/clock.png"
          .columns.small-9.large-8
            %h3= t("views.home.features.opening_hours")
            %p See at a glance when labs will be open and available for use

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/calendar.png"
          .columns.small-9.large-8
            %h3= t("views.home.features.events")
            %p A calendar of all upcoming events within the global Fab Lab Network

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/discussions.png"
          .columns.small-9.large-8
            %h3= t("views.home.features.discussions")
            %p You will have a places to discuss general, lab-specific and tool-specific topics

    .row.coming-next
      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/api.png"
          .columns.small-9.large-8
            %h3= t("views.home.features.developer_api")
            %p A REST-based API that can be used to fetch and change data on the platform

      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/localisation.png"
          .columns.small-9.large-8
            %h3= t("views.home.features.localisation")
            %p We want the platform to be translated and localised for everyone. More details to follow
      .columns.large-4
        .row
          .columns.small-3.large-4= image_tag "home-icons/activity.png"
          .columns.small-9.large-8
            %h3= t("views.home.features.activity_feeds")
            %p See what you've missed while you were away, and what's happening right now

    .row
      .columns.large-12
        %h2= t("views.home.beyond_that")
        .row
          .columns.small-3.large-1= image_tag "home-icons/help.png"
          .columns.small-9.large-11
            %p We've got lots of ideas that we hope to implement but if you have any suggestions or problems with the site, please click the ? icon at the bottom right of any page.
