:javascript
  window.me = #{current_user.id}
= subscribe_to "/chat_messages/new"
.row
  .col-lg-12
    #chat-window
      %ul#chat
      -# = render @messages

    = form_for ChatMessage.new, remote: true do |f|
      .row
        .col-md-8
          = f.text_field :content, autofocus: true, id: 'chat-message'
        .col-md-4
          = f.submit "Send", class: 'button small', id: 'send-chat-message'

