%dl.sub-nav
  - if current_user.has_role? :superadmin
    %dt Manage:

    %dd{class: ('active' if controller_name == "labs")}= link_to "Labs", backstage_labs_path
    %dd{class: ('active' if controller_name == "employees")}= link_to "Employees", backstage_employees_path
    %dd{class: ('active' if controller_name == "users")}= link_to "Users", backstage_users_path
    %dd{class: ('active' if controller_name == "pages")}= link_to "Pages", backstage_pages_path

  - if current_user.is_referee? or current_user.is_unique_referee?
    %dt Approve:

    %dd{class: ('active' if controller_name == "labs")}= link_to "Labs", backstage_labs_path
