.container-fluid
  .row.border-bottom.mb-4
    .col-md-4.border-right.py-4.text-right
      = link_to 'Profile', current_user, class: (controller_name == 'users' && action_name == 'show' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')
      = link_to 'Settings', settings_path, class: (controller_name == 'users' && action_name == 'edit' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')
      = link_to 'Change password', password_path, class: (controller_name == 'users' && action_name =='change_password' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')

    .col-md-4.border-right.py-4
      - if current_user.is_referee? || current_user.is_unique_referee? || current_user.has_role?(:superadmin)
        = link_to 'Labs', backstage_labs_path, class: (controller_name == 'labs' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')
        = link_to 'My labs', [:backstage, :my_labs], class: (controller_name == 'my_labs' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')
        = link_to  [:backstage, :my_projects], class: (controller_name == 'my_projects' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1'), target: '_blank' do
          My projects
          = icon 'external-link'
      - if current_user.has_role? :superadmin
        = link_to 'Labs Manager', [:backstage, :manager], class: (controller_name == 'labs_manager' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')
        = link_to 'Organizations', backstage_organizations_path, class: (controller_name == 'organizations' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')
        = link_to 'Employees', backstage_employees_path, class: (controller_name == 'employees' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')
        = link_to 'Users', backstage_users_path, class: (controller_name == 'users' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')
        = link_to 'Pages', backstage_pages_path, class: (controller_name == 'pages' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')
        = link_to 'Events', backstage_events_path, class: (controller_name == 'events' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')
        = link_to [:backstage, :projects], class: (controller_name == 'projects' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1'), target: '_blank' do
          Projects
          = icon 'external-link'

    .col-md-4.py-4
      - if current_user.is_referee? || current_user.is_unique_referee? || current_user.has_role?(:superadmin)
        = link_to 'My labs to approve', [:backstage, :to_approve_labs], class: (controller_name == 'to_approve_labs' ? 'btn btn-primary my-1 mr-1' : 'btn btn-default my-1 mr-1')
