.subnavbar
  .container.subnavbar-container
    .subnavbar-section.subnavbar-section-left
      = link_to 'Profile', current_user, class: (controller_name == 'users' && action_name == 'show' ? 'btn btn-primary' : 'btn btn-default')
      = link_to 'Settings', settings_path, class: (controller_name == 'users' && action_name == 'edit' ? 'btn btn-primary' : 'btn btn-default')
      = link_to 'Change password', password_path, class: (controller_name == 'users' && action_name =='change_password' ? 'btn btn-primary' : 'btn btn-default')

    .subnavbar-section.subnavbar-section-center
      - if current_user.is_referee? || current_user.is_unique_referee? || current_user.has_role?(:superadmin)
        = link_to 'Labs', backstage_labs_path, class: (controller_name == 'labs' ? 'btn btn-primary m-1' : 'btn btn-default m-1')
        = link_to 'My labs', [:backstage, :my_labs], class: (controller_name == 'my_labs' ? 'btn btn-primary' : 'btn btn-default')
        = link_to  [:backstage, :my_projects], class: (controller_name == 'my_projects' ? 'btn btn-primary' : 'btn btn-default'), target: '_blank' do
          My projects
          = fa_icon 'external-link'
      - if current_user.has_role? :superadmin
        = link_to 'Labs Manager', [:backstage, :manager], class: (controller_name == 'labs_manager' ? 'btn btn-primary' : 'btn btn-default')
        = link_to [:backstage, :projects], class: (controller_name == 'projects' ? 'btn btn-primary' : 'btn btn-default'), target: '_blank' do
          Projects
          = fa_icon 'external-link'
        = link_to 'Orgs', backstage_organizations_path, class: (controller_name == 'organizations' ? 'btn btn-primary' : 'btn btn-default')
        = link_to 'Employees', backstage_employees_path, class: (controller_name == 'employees' ? 'btn btn-primary' : 'btn btn-default')
        = link_to 'Users', backstage_users_path, class: (controller_name == 'users' ? 'btn btn-primary' : 'btn btn-default')
        = link_to 'Pages', backstage_pages_path, class: (controller_name == 'pages' ? 'btn btn-primary' : 'btn btn-default')
        = link_to 'Events', backstage_events_path, class: (controller_name == 'events' ? 'btn btn-primary m-1' : 'btn btn-default m-1')

    .subnavbar-section.subnavbar-section-right
      - if current_user.is_referee? || current_user.is_unique_referee? || current_user.has_role?(:superadmin)
        = link_to 'My labs to approve', [:backstage, :to_approve_labs], class: (controller_name == 'to_approve_labs' ? 'btn btn-primary' : 'btn btn-default')
