.well
  = search_form_for @q, url: url_form, builder: SimpleForm::FormBuilder do |f|
    = f.input :name_or_city_cont, label: "Name"
    .container
      .row.pb-3
        .col-lg-3.pl-0
          = f.input :is_referee_true, as: :boolean, label: "Is referee", input_html: { class: 'form-check-input' }
        .col-lg-3
          =# f.input :discourse_id_not_null, as: :boolean, label: "With discourse ID", input_html: { class: 'form-check-input' }
        .col-lg-3
          =# f.input :discourse_id_null, as: :boolean, label: "Without discourse ID", input_html: { class: 'form-check-input' }
        .col-lg-3.pr-0
          =# f.input :discourse_errors_not_null, as: :boolean, label: "With discourse sync errors", input_html: { class: 'form-check-input' }
    .row
      .col-lg-4
        = f.input :country_code_eq, as: 'country', label: 'Country', iso_codes: true, include_blank: 'ALL'
      .col-lg-4
        = f.input :workflow_state_eq, collection: Lab.workflow_spec.state_names, label: "State", include_blank: 'ALL'
      .col-lg-3.m-auto
        = f.submit "Filter", class: 'btn btn-primary'

= page_entries_info @labs
%table.table
  %thead
    %tr
      %th= sort_link @q, :id, 'ID'
      %th= sort_link @q, :name, 'Name'
      %th= sort_link @q, :is_referee
      %th Country
      %th
        Creator
        = sort_link @q, 'creator_first_name', 'First'
        = sort_link @q, 'creator_last_name', 'Last'

      %th= sort_link @q, :state, 'State'
  %tbody
    - @labs.each do |lab|
      = content_tag_for :tr, lab, {class: lab.current_state} do
        %td= lab.id
        %td= link_to lab, backstage_lab_path(lab)
        %td{class: ('text-green' if lab.is_referee)}= lab.is_referee
        %td= lab.country
        %td= link_to lab.creator, lab.creator
        %td= lab.current_state

= paginate @labs, theme: 'twitter-bootstrap-4', nav_class: "m-auto pt-3"
