.row
  .col-lg-12
    = render "backstage/header"
    = title "Editing #{@lab}"
    = simple_form_for [:backstage, @lab] do |f|
      = render "form_errors", resource: @lab
      = f.input :kind
      .col-lg-4
        Select 3 Referee Labs.
        .selections
          %ul
            - @lab.referee_approval_processes.each do |c|
              - if c.referee_lab.present? and c.id
                %li
                  %span
                    = link_to icon('times'), referee_approval_process_path(c), method: :delete
                    = image_tag hocho(c.referee_lab.avatar, "o=t&q=80&d=90x90"), class: 'avatar tiny'
                    = link_to link_to c.referee_lab, c.referee_lab

      .col-lg-8
        - @selected = @lab.referee_approval_processes.map{|u| u.referee_lab_id}.collect
        %label{for: "referee_approval_processes_attributes"}
          Referees
        = select_tag :referee_approval_processes_attributes, options_from_collection_for_select(Lab.approved_referees.collect, :id, :slug, @selected), { multiple: true, name: 'lab[referee_approval_processes_attributes][][referee_lab_id]', class: 'referee_approval form-control'}

      = f.input :tools_list
      = f.input :name
      = f.input :blurb
      = f.input :description
      = f.input :slug
      = f.input :avatar_src
      = f.input :header_image_src
      = f.input :address_1
      = f.input :address_2
      = f.input :city
      = f.input :county
      = f.input :postal_code
      = f.input :country_code, as: 'country', label: 'Country', iso_codes: true
      = f.input :latitude
      = f.input :longitude
      = f.input :zoom
      = f.input :address_notes
      = f.input :phone
      = f.input :email
      = f.input :application_notes
      = f.input :is_referee
      = f.submit 'save', class: 'btn btn-success'
