.row
  .columns.large-12
    = render "backstage/header"
    = title "Labs"

    .panel
      = search_form_for [:backstage, @q], builder: SimpleForm::FormBuilder do |f|
        = f.input :name_or_city_cont, label: "Name"
        .row
          .columns.large-4
            = f.input :country_code_eq, as: 'country', label: 'Country', iso_codes: true
          .columns.large-4
            = f.input :workflow_state_eq, collection: Lab.workflow_spec.state_names, label: "State"
          .columns.large-3
            = f.submit "Filter", class: 'button expand'

    = paginate @labs

    %table.table
      %thead
        %tr
          %th= sort_link @q, :id
          %th= sort_link @q, :name
          %th= sort_link @q, :slug
          %th Country
          %th
            Creator
            = sort_link @q, 'creator_first_name', 'First'
            = sort_link @q, 'creator_last_name', 'Last'

          %th= sort_link @q, :state
          -# %th= sort_link @q, :created_at
      %tbody
        - @labs.each do |lab|
          = content_tag_for :tr, lab, {class: lab.current_state} do
            %td= lab.id
            %td= link_to lab, backstage_lab_path(lab)
            %td= lab.slug
            %td= lab.country
            %td= link_to lab.creator, lab.creator

            %td= lab.current_state
            -# %td= lab.created_at#l(lab.created_at, format: :short)

    = paginate @labs