.row
  .columns.large-12
    = render "backstage/header"
    = title @lab
    %table.table
      %tr
        %th State
        %td
          = @lab.current_state
          - if current_user.has_role? :superadmin
            = button_to "Approve", {controller: 'labs', action: 'approve'}, method: :patch, class: 'button tiny'
            = button_to "Need Info", {controller: 'labs', action: 'need_more_info'}, method: :patch, class: 'button tiny'
            = button_to "Reject", {controller: 'labs', action: 'reject'}, method: :patch, class: 'button tiny alert'
          - else
            - if current_user.is_referee?
              = button_to "Approve", {controller: 'labs', action: 'referee_approve'}, method: :patch, class: 'button tiny'
              = button_to "Need Info", {controller: 'labs', action: 'need_more_info'}, method: :patch, class: 'button tiny'
              = button_to "Reject", {controller: 'labs', action: 'reject'}, method: :patch, class: 'button tiny alert'

      %tr
        %th Referee
        %td= @lab.referee
      %tr
        %th Avatar
        %td= image_tag @lab.avatar, class: 'avatar med'

      - if @lab.header_image_src.present?
        %tr
          %th Header
          %td= image_tag @lab.header_image_src, class: 'avatar med'
      %tr
        %th Slug
        %td= @lab.slug
      %tr
        %th Creator
        %td= link_to @lab.creator, @lab.creator
      - if @lab.application_notes.present?
        %tr
          %th Application Notes
          %td= @lab.application_notes
      %tr
        %th Description
        %td= @lab.description
      - if @lab.links.any?
        %tr
          %th URLS
          %td
            %ul
              - @lab.links.each do |link|
                %li= link_to link.url, link.url
      - if @lab.phone.present?
        %tr
          %th Phone
          %td= @lab.phone
      - if @lab.email.present?
        %tr
          %th Email
          %td= mail_to @lab.email, @lab.email
      %tr
        %th Address
        %td= @lab.formatted_address
      - if @lab.address_notes.present?
        %tr
          %th Address Notes
          %td= @lab.address_notes
      %tr
        %th Employees
        %td
          %ul
            - @lab.employees.each do |employee|
              = content_tag_for :li, employee do
                = link_to employee.user, employee.user
                = employee.job_title
      %tr
        %th Created At
        %td= @lab.created_at
      %tr
        %th Updated At
        %td= @lab.updated_at

    = link_to edit_backstage_lab_path(@lab), class: 'button' do
      = fa_icon "edit", text: "Edit Lab"
