= link_to organization do
  = image_tag organization.avatar.thumb("300x300#").url, class: 'big avatar', itemprop: "logo"

= title organization.name
.kind= "[#{organization.kind.humanize.titleize}]"

%span.microdata{itemprop: "url"}= organization_url(organization)

.lab-contact-details
  - if organization.phone.present?
    .lab-phone
      %span.lab-phone.mr-2
        = icon "fa-solid", "phone"
      %span{itemprop: "telephone"}= organization.phone
  - if organization.email.present?
    .lab-email
      %span.lab-email.mr-2
        = icon "fa-solid", "envelope"
      %span{itemprop: "email"}= mail_to organization.email, organization.email

- if current_or_null_user.has_role?(:superadmin)
  = link_to edit_organization_path(organization), class: 'btn btn-primary' do
    = icon "fa-solid", "pen-to-square", "Edit Organization"

%br
%br
