= simple_form_for organization, html: { class: 'form-horizontal'} do |f|
  - if current_user.has_role?(:superadmin)
    %fieldset
      %legend Superadmin options
      = f.input :workflow_state, collection: Organization::WORKFLOW_STATES, include_blank: false
      = f.input :geojson, as: :text
      = f.input :latitude
      = f.input :longitude
      = f.input :zoom

  %fieldset
    %legend Basic Details
    = f.input :name

    .row
      .columns.large-4
        = f.input :kind, collection: Organization::KINDS, include_blank: false
      .columns.large-4
        = f.input :email
      .columns.large-4
        = f.input :phone

  %fieldset
    %legend Description
    = f.input :blurb, as: :text, hint: 'A very brief overview of the organization, maybe include what it specializes in. <span id="description-count"></span> characters available.'.html_safe, input_html: { rows: 3, data: { limit: 200, counter: '#description-count'} }

    = f.input :description, hint: 'An in-depth description of the organization', input_html: { style: 'height: 8em' }


  %fieldset
    %legend Organization Images

    .row
      .columns.large-3= image_tag organization.avatar, class: 'avatar big'
      .columns.large-9= f.input :avatar_src, input_html: { class: 'fp', data: { fp_store_location: 'S3', fp_store_path: 'organizations/avatars/', fp_store_container: ENV['S3_BUCKET'] } }, label: 'Avatar', hint: "This will be a square image next shown next to the organization name throughout the site"
    %hr/
    .row
      .columns.large-3
        - if organization.header_image_src.present?
          = image_tag organization.header_image_src, class: 'avatar big'
      .columns.large-9= f.input :header_image_src, input_html: { class: 'fp', data: { fp_store_location: 'S3', fp_store_path: "organizations/photos/", fp_store_container: ENV['S3_BUCKET'] } }, label: 'Photo', hint: "A single (large) photo of your organization. You will be able to add more photos soon."

  - if organization.new_record?
    %fieldset
      %legend Anything else?
      = f.input :application_notes



  = f.submit (organization.new_record? ? 'Add organization' : 'Update organization'), class: 'button'
