= content_tag_for :div, organization, class: 'card', itemscope: true, itemtype: "http://data-vocabulary.org/Organization" do
  .card-image
    = link_to organization do
      = image_tag organization.avatar.thumb("310x330#").url, itemprop: "logo"

  .card-content
    = link_to organization, itemprop: 'name' do
      .card-title= organization.name
      .card-subtitle= organization.kind.humanize.titleize
      %span.url.microdata{itemprop: "url"}= organization_url(organization, {locale: nil})

      = image_tag ("icons/arrow-right.svg"), :class => "card-arrow"
