= content_tag_for :div, organization, class: 'card', itemscope: true, itemtype: "http://data-vocabulary.org/Organization" do
  .card-image
    = link_to organization do
      = image_tag organization.avatar.thumb("310x330#").url, itemprop: "logo"

  .card-content
    = link_to organization, class: 'card-title', itemprop: 'name' do
      = organization.name
    %span.url.microdata{itemprop: "url"}= organization_url(organization, {locale: nil})
    .organization-location

    = link_to organization do
      %i.card-arrow.fa.fa-arrow-right
