= content_tag_for :div, organization, class: 'media', itemscope: true, itemtype: "http://data-vocabulary.org/Organization" do
  .img.pull-left
    = link_to organization do
      = image_tag hocho(organization.avatar, "o=t&q=80&d=100x100&"), class: 'med avatar', itemprop: "logo"

  .media-body
    = link_to organization, class: 'name' do
      %span.name{itemprop: "name"}= organization.name
    %span.url.microdata{itemprop: "url"}= organization_url(organization, {locale: nil})
    .organization-location
    %p.organization-blurb.truncate{itemprop: "description"}= organization.description
