- title "Organizations"
.subnavbar.border-bottom
  .container
    .row
      .col-md-9.border-right.py-4
        .title Organizations

      .col-md-3.py-4
        - if current_user
          = link_to new_organization_path, class: "btn btn-primary" do
            = fa_icon "plus", text: 'Add a new Organization'
        - else
          = link_to new_organization_path, class: "btn btn-primary", title: "You need to be signed in to add an Organization" do
            = fa_icon "plus", text: 'Add a new Organization'

.container
  .row.labs= render @organizations
  .row
    = paginate @organizations, theme: 'twitter-bootstrap-4', nav_class: "m-auto pt-3"
