- content_for(:meta) do
  %meta{content: @organization.avatar.thumb("300x300#").url, property: "og:image"}/
  %meta{content: @organization.description, property: "og:description"}/


%div{itemscope: true, itemtype: "http://data-vocabulary.org/Organization"}
  .stripe
    .row
      .col-lg-12
        %ol.breadcrumb
          %li= link_to 'Organizations', organizations_path
          %li= link_to @organization.name, organizations_path(@organization)


    .row.header
      .col-lg-4.bio= render "bio", organization: @organization
      .col-lg-8
        - if @organization.geojson.present?
          #organization-map{ data: {geojson: @organization.geojson, latitude: @organization.latitude, longitude: @organization.longitude, zoom: @organization.zoom}}


  .row.main
    .col-lg-8.content
      .lab-description{itemprop: "description"}
        = simple_format @organization.description
      - if @organization.header.present?
        = image_tag @organization.header.thumb("800x").url, class: 'big-picture', itemprop: "image"

      %h3 Labs
      - @organization.lab_organizations.accepted.each do |lab_organization|
        = render partial: 'labs/lab', locals: {lab: lab_organization.lab}

      - if @organization.lab_organizations.pending.present?
        %h4 Pending
        - @organization.lab_organizations.pending.each do |lab_organization|
          %p.small.pull-right
            = link_to 'state workflow', organization_lab_organization_path(@organization, lab_organization)
          = render partial: 'labs/lab', locals: {lab: lab_organization.lab}
      - if current_or_null_user == @organization.creator
        = link_to new_organization_lab_organization_path(@organization), class: 'btn btn-primary' do
          = fa_icon "plus", text: 'Add lab'

    .col-lg-4
      = render "links", links: @organization.links

.row
  .col-lg-12
    - if @organization.discourse_id.present?
      %h3 Discuss this Organization on discuss.fablabs.io
      = comments_script(@organization.discourse_id)
