= content_tag_for :li, activity do
  = link_to activity.user, activity.user
  = "#{activity.action}d"
  = link_to activity.trackable, activity.trackable
  %i #{time_ago_in_words(activity.created_at)} ago