= simple_form_for machine do |f|
  %fieldset
    .text-large
      General
    = render "form_errors", resource: machine
    = f.association :brand, hint: "Not in the list? #{link_to 'Add a new brand', new_brand_path}".html_safe
    = f.input :name
    = f.input :description

  %fieldset
    .text-large
      Facilities
    = render "facilities", :f => f

  %fieldset
    .text-large
      Media
    .row
      .col-lg-3
        - if machine.photo.present?
          = image_tag machine.photo.thumb('150x150#').url, class: 'avatar big'
      .col-lg-9
        = f.input :photo, as: :file, label: 'Photo'
        = f.hidden_field :retained_photo

  %fieldset
    .text-large
      Tags
    = f.input :tag_list
    = f.input :inventory_item, class: 'form-control'

  %fieldset
    .text-large
      Links
    = f.simple_fields_for :links do |link|
      = render 'link_fields', f: link
    .links
      = link_to_add_association f, :links, class: 'btn btn-primary' do
        Add link

  = f.submit (machine.new_record? ? 'New Machine' : 'Update Machine'), class: 'btn btn-primary'
