= simple_form_for machine do |f|
  %fieldset
    %legend General
    = render "form_errors", resource: machine
    = f.association :brand, hint: "Not in the list? #{link_to 'Add a new brand', new_brand_path}".html_safe
    = f.input :name
    = f.input :description

  %fieldset
    %legend Facilities
    = render "facilities", :f => f

  %fieldset
    %legend Media
    = render "media", { :f => f, :machine => machine }
  %fieldset
    %legend Tags
    = f.input :tag_list
    = f.input :inventory_item, class: 'form-control'

  %fieldset
    %legend Links
    = f.simple_fields_for :links do |link|
      = render 'link_fields', f: link
    .links
      = link_to_add_association f, :links, class: 'btn btn-success' do
        = fa_icon "plus", text: 'Add another link'

  = f.submit (machine.new_record? ? 'New Machine' : 'Update Machine'), class: 'btn btn-success'
