= simple_form_for machine do |f|
  = render "form_errors", resource: machine
  = f.association :brand, hint: "Not in the list? #{link_to 'Add a new brand', new_brand_path}".html_safe
  = f.input :parent_id
  = f.input :photo_src, input_html: { class: 'fp', data: { fp_store_location: 'S3', fp_store_path: 'machines/photos/', fp_store_container: ENV['S3_BUCKET'] } }, label: 'Photo'
  = f.input :name
  = f.input :description
  = f.input :tag_list

  = f.input :inventory_item

  %fieldset
    %legend Links
    = f.simple_fields_for :links do |link|
      = render 'link_fields', f: link
    .links
      = link_to_add_association f, :links, class: 'button tiny' do
        = fa_icon "plus"
        Add another link

  = f.submit