= simple_form_for machine do |f|
  = render "form_errors", resource: machine
  = f.association :brand, hint: "#{link_to 'Add new brand', new_brand_path}"
  = f.input :parent_id
  = f.input :photo_src, input_html: { class: 'fp', data: { fp_store_location: 'S3', fp_store_path: 'machines/photos/', fp_store_container: ENV['S3_BUCKET'] } }, label: 'Photo'
  = f.input :name
  = f.input :description
  = f.input :tag_list

  = f.input :inventory_item

  = f.submit