- cache ["v2", machine] do
  = content_tag_for :div, machine, class: 'card subpage-card' do
    .card-image
      = link_to machine do
        - if machine.photo.present?
          = image_tag machine.photo.thumb("230x245>").url

    .card-content
      = link_to machine do
        .card-subtitle= machine.brand
        .card-title= machine

        = image_tag ("icons/arrow-right.svg"), :class => "card-arrow"

