- title @machine

- cache ["v2-machine-#{@machine.id}-#{I18n.locale}", Machine.last_updated_at] do
  .row
    .columns.large-12
      = render "breadcrumbs"
  .row
    .columns.large-8
      .main
        = @machine.brand
        %h1= @machine

        = simple_format(@machine.description)

        -# = image_tag @machine.photo_src
        = image_tag hocho(@machine.photo_src, "o=r&q=80&d=800x800>")

    .columns.large-4.side

      - if @machine.tags.length > 0
        .heading Tags
        %ul
          - if @machine.inventory_item?
            %li
              = link_to "http://fab.cba.mit.edu/about/fab/inv.html", class: "button tiny", data: { tooltip: true }, title: "This is included in the Official Fab Lab hardware specification" do
                = fa_icon "tag"
                Fab Lab Inventory Item
          - @machine.tags.each do |tag|
            %li= link_to tag, machines_path(tag: tag)

      - if @machine.links.length > 0
        .heading Useful Links
        %ul
          - @machine.links.each do |link|
            %li.machine-link
              = link_to link.url do
                = favicon link.url
                %span.url{itemprop: "sameAs"}= link.description

      .heading Machine Revisions
      %ol
        - @machine.root.subtree.arrange_as_array.flatten.each do |node|
          %li= (node == @machine) ? node : link_to(node, node)


      -# %h4 Discussions
      -# = render @machine.discussions
      -# = link_to "Start a new Discussion", new_machine_discussion_path(@machine)

.row
  .columns.large-12
    - if current_or_null_user.can_update?(@machine)
      = link_to "Edit", edit_machine_path(@machine), class: 'button'
