.row
  .columns.large-12
    = render "breadcrumbs"
.row
  .columns.large-12
    = @machine.brand
    = title @machine

    - if @machine.inventory_item?
      = link_to "http://fab.cba.mit.edu/about/fab/inv.html", class: "button tiny", data: { tooltip: true }, title: "This is included in the Official Fab Lab hardware specification" do
        = fa_icon "tag"
        Fab Lab Inventory Item

    - @machine.tags.each do |tag|
      = link_to tag, machines_path(tag: tag)

    = simple_format(@machine.description.html_safe)
    -# = link_to @machine.brand, @machine.brand

.row
  .columns.large-8
    = image_tag @machine.photo_src

  .columns.large-4


    - if @machine.labs.any?
      .heading Operating at
      %ul
        - @machine.labs.with_approved_state.each do |lab|
          %li= link_to lab, lab

    .heading Revisions
    %ul
      - @machine.root.subtree.reverse.each do |node|
        %li= (node == @machine) ? node : link_to(node, node)

    -# %h4 Discussions
    -# = render @machine.discussions
    -# = link_to "Start a new Discussion", new_machine_discussion_path(@machine)

- if current_or_null_user.can_update?(@machine)
  = link_to "Edit", edit_machine_path(@machine)