%footer

  .container.footer-links
    .row
      .col-xs-6
        %ul
          %li= link_to "Labs List", labs_path
          %li= link_to "Labs Map", map_labs_path
          %li= link_to "About", about_path
          %li= link_to 'Discuss', 'https://discuss.fablabs.io/', target: '_blank'
          %li= link_to "The Fab Foundation", "http://www.fabfoundation.org"
          %li= link_to "Cookie Policy", "/cookie-policy"
          %li= link_to "Privacy Policy", "/privacy-policy"
          %li= link_to "Terms of Service", "/tos"
      .col-xs-6
        %ul.locales
          %li= locale_link_to "Deutsch", "de"
          %li= locale_link_to "English", "en"
          %li= locale_link_to "Español", "es"
          %li= locale_link_to "Français", "fr"
          %li= locale_link_to "Italiano", "it"
          %li= locale_link_to "Nederlands", "nl"
          %li= locale_link_to "Português", "pt"
          %li= locale_link_to "日本語", "ja"

  .container.footer-images
    .row
      .col-xs-6
        %p.eu-credits
          This project has received funding from the Creative Europe Programme of the European Union for the
          %a{:href => "https://madeat.eu/"} MADE@EU
          project EAC/S16/2013.
        =image_tag ("logos/eu_flag_creative_europe_co_funded_pos_[rgb]_left_300.jpg") , :class => "footer_logos img-responsive"
      .col-xs-6
        %p.eu-credits
          This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement n.688241 for the
          %a{:href => "http://make-it.io/"} MAKE-IT
          project.
        =image_tag ("logos/euh2020.jpg") , :class => "footer_logos img-responsive"

= render "application/footer_scripts"
