#myModal.reveal-modal
%header.contain-to-grid
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          = link_to root_path do
            = image_tag "circle-logo.png", id: 'logo'
      %li.toggle-topbar.menu-icon
        = link_to "#" do
          %span Menu

    %section.top-bar-section
      %ul.left
        -# %li.divider
        %li.has-form
          = form_tag labs_path, class: 'navbar-form navbar-left', role: 'search', method: 'get' do
            - if params[:country].present?
              = hidden_field_tag 'country', params[:country]
            = text_field_tag 'query', params[:query], class: 'form-control', autocomplete: 'off', placeholder: t("views.header.search_labs", default: "Search Labs..."), id: 'search-box'
        %li{class: ('active' if controller_name == 'labs')}= link_to "Labs", labs_path, class: 'top-link'
        - if current_or_null_user.can_read?(Event)
          %li{class: ('active' if controller_name == 'events')}= link_to "Events", events_path, class: 'top-link'
        %li{class: ('active' if controller_name == 'machines')}= link_to t("views.header.machines"), machines_path, class: 'top-link'

        -# %li{class: ('active' if controller_name == 'activity')}= link_to "Activity", activity_path, class: 'top-link'
        -# %li{class: ('active' if controller_name == 'machines')}= link_to "Machines", machines_path
        -# %li{class: ('active' if controller_name == 'support')}= link_to "Support", 'support_path'
        -# %li.divider

      %ul.right
        - if current_user
          %li.has-dropdown
            = link_to current_user, class: 'dropdown-toggle', data: { toggle: 'dropdown'} do
              = image_tag hocho(current_user.avatar, "o=t&q=80&d=90x90"), class: 'avatar tiny'
              Me
              - if current_or_null_user.has_role? :superadmin
                = gem_count_tag Lab.with_unverified_state.size

            %ul.dropdown
              %li
                = link_to settings_path do
                  = fa_icon "cog", text: t("views.header.settings", default: "Settings")
              - if current_or_null_user.has_role? :superadmin
                %li
                  = link_to backstage_root_path do
                    = fa_icon "gamepad"
                    = t("views.header.backstage", default: "Backstage")
                    = gem_count_tag Lab.with_unverified_state.size
              %li
                = link_to signout_path do
                  = fa_icon "sign-out", text: t("views.header.sign_out", default: "Sign out")
        - else
          %li= link_to t("views.header.sign_in", default: "Sign in"), signin_path
          %li.last= link_to t("views.header.sign_up", default: "Sign up"), signup_path

        -# %li#locale
        -#   = link_to choose_locale_path, id: 'locale-icon', class: I18n.locale, data: { reveal_id: "myModal", reveal_ajax: "true" } do
        -#     = image_tag "locales/#{I18n.locale}.png", width: 24
