.heading Links
%ul
  - if object.web.present?
    %li
      = icon('link')
      %a{ href: object.web, title: "WWW" }
        %strong
          = object.web
  - if object.github.present?
    %li
      = icon('github')
      %a{ href: object.github, title: "Github" }
        %strong
          Github repository
  - if object.dropbox.present?
    %li
      = icon('dropbox')
      %a{ href: object.dropbox, title: "Dropbox"}
        %strong
          Dropbox folder
  - if object.drive.present?
    %li
      = icon('hdd-o')
      %a{ href: object.drive, title: "Google Drive"}
        %strong
          Google Drive
  - if object.bitbucket.present?
    %li
      = icon('bitbucket')
      %a{ href: object.bitbucket, title: "Bitbucket"}
        %strong
          Bitbucket
  - if object.twitter.present?
    %li
      = icon('twitter')
      %a{ href: object.twitter, title: "Twitter"}
        %strong
          Twitter
  - if object.facebook.present?
    %li
      = icon('facebook')
      %a{ href: object.facebook, title: "Facebook"}
        %strong
          Facebook
  - if object.googleplus.present?
    %li
      = icon('google-plus')
      %a{ href: object.googleplus, title: "Google+"}
        %strong
          Google+
  - if object.vimeo.present?
    %li
      = icon('vimeo-square')
      %a{ href: object.vimeo, title: "Vimeo"}
        %strong
          Vimeo
  - if object.youtube.present?
    %li
      = icon('youtube')
      %a{ href: object.youtube, title: "Youtube"}
        %strong
          Youtube
  - if object.flickr.present?
    %li
      = icon('flickr')
      %a{ href: object.flickr, title: "Flickr"}
        %strong
          Flickr
  - if object.instagram.present?
    %li
      = icon('instagram')
      %a{ href: object.instagram, title: "Instagram"}
        %strong
          Instagram
