.row.page-intro
  .page-intro-image
    = link_to lab do
      = image_tag lab.avatar.thumb('118x118#').url, class: 'big avatar', itemprop: "logo"
  .page-intro-content
    - if @lab.activity_status == 'closed'
      %span.tag CLOSED
    - if @lab.activity_status == 'planned'
      %span.tag PLANNED
    .text-large{itemprop: "name"}= lab.name

    .microdata{itemprop: "url"}= lab_url(lab, { locale: nil })

    

    .lab-contact-details
      .text-medium
        .lab-address{itemprop: "address"}= lab.formatted_address
      .text-small
        - if lab.phone.present?
          %span.lab-phone
            %span.fa.fa-phone
            %span{itemprop: "telephone"}= lab.phone
        - if lab.email.present?
          %span.lab-email
            %span.fa.fa-envelope
            %span{itemprop: "email"}= mail_to lab.email, lab.email
  .ml-auto
    - if current_or_null_user.can_update?(@lab)
      .dropdown
        %button.btn.btn-primary.btn-lg.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          = fa_icon "edit", text: t('views.labs.show.manage_lab', default: "Manage Lab")
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to edit_lab_path(@lab) do
              = fa_icon "edit", text: t('views.labs.show.edit_lab_details', default: "Edit Lab Details")
          %li
            = link_to lab_employees_path(@lab) do
              = fa_icon "group", text: t('views.labs.show.edit_employee_list', default: "Edit Employee List")
          %li
            = link_to new_lab_event_path(@lab) do
              = fa_icon "calendar", text: t('views.labs.show.add_event', default: "Add Event")
