= link_to lab do
  = image_tag hocho(lab.avatar, "o=t&q=80&d=300x300&f=png"), class: 'big avatar'
  -# = image_tag lab.avatar, width: 100, class: 'big-avatar'

= title lab.name
.lab-contact-details
  .lab-address= lab.formatted_address
  - if lab.phone.present?
    .lab-phone
      %span.glyphicon.glyphicon-earphone
      = lab.phone
  - if lab.email.present?
    .lab-email
      %span.glyphicon.glyphicon-envelope
      = mail_to lab.email, lab.email

- if @lab.needs_admin?
  = link_to new_lab_admin_path(@lab), class: 'button success small' do
    = fa_icon "bullhorn"
    I should manage this lab

  -# - if current_or_null_user.has_role? :admin
  -#   - lab.current_state.events.keys.each do |event|
  -#     = button_to "#{event.capitalize} Lab", {controller: 'labs', action: 'verify'}, method: :patch, class: 'button button-primary'
- if current_or_null_user.can_update?(@lab)
  = link_to "#", data: { dropdown: 'drop' }, class: 'button dropdown small' do
    = fa_icon "edit", text: t('views.labs.show.manage_lab', default: "Manage Labs")
  %br/
  %ul#drop.f-dropdown{data: 'dropdown-content'}
    %li
      = link_to edit_lab_path(@lab) do
        = fa_icon "edit", text: t('views.labs.show.edit_lab_details', default: "Edit Lab Details")
    %li
      = link_to lab_employees_path(@lab) do
        = fa_icon "group", text: t('views.labs.show.edit_employee_list', default: "Edit Employee List")
    %li
      = link_to lab_admins_path(@lab) do
        = fa_icon "flash", text: t('views.labs.show.manage_admins', default: "Manage Admins")
