.heading
  = fa_icon "users", text: "People"
  = link_to "edit", lab_employees_path(lab), id: "edit-employees"

  %ul.large-block-grid-2
    - lab.employees.with_approved_state.each do |employee|
      %li.person
        .media
          .pull-left
            = cropped_image_tag "http://i.imgur.com/HOCqqqg.jpg", 60
          .media-body
            = link_to employee.user, employee.user, class: 'person-name'
            .person-details
              .person-role= employee.job_title
              = link_to employee.user.email, employee.user.email, class: 'person-email'
