.heading
  = fa_icon "users", text: t("views.labs.show.people", default: "People")
  = link_to "edit", lab_employees_path(lab), id: "edit-employees" if current_or_null_user.can_update?(lab)

%ul.large-block-grid-2
  - lab.employees.active.order('employees.id ASC').each do |employee|
    %li.person{itemscope: true, itemtype: "http://data-vocabulary.org/Person"}
      .media
        .pull-left
          = image_tag employee.user.avatar, class: 'avatar med'
        .media-body
          = link_to employee.user, class: 'person-name' do
            %span.first_name{itemprop: "givenName"}= employee.user.first_name
            %span.last_name{itemprop: "familyName"}= employee.user.last_name
          .person-details
            .person-role{itemprop: "jobTitle"}= employee.job_title
            - if employee.email.present?
              .email= mail_to employee.email, employee.email
            - if employee.phone.present?
              .phone{itemprop: "telephone"}= employee.phone
  %li.person

    - if current_user
      - if current_user.applied_to?(@lab) and !current_user.employed_by?(@lab)
        = link_to new_lab_employee_path(@lab), class: 'button tiny disabled secondary' do
          = fa_icon "check-square"
          = t("views.labs.show.applied", default: "Applied")
      - elsif current_user.can_create? @lab.employees.build
        = link_to new_lab_employee_path(@lab), class: 'button tiny success' do
          = fa_icon "check-square"
          = t("views.labs.show.i_work_here", default: "I work here")
    - else
      = link_to new_lab_employee_path(@lab), class: 'button tiny' do
        = fa_icon "check-square"
        = t("views.labs.show.i_work_here", default: "I work here")