.heading
  = fa_icon "users", text: "People"
  = link_to "edit", lab_employees_path(lab), id: "edit-employees" if current_or_null_user.can_update?(lab)

%ul.large-block-grid-2
  - lab.employees.active.each do |employee|
    %li.person
      .media
        .pull-left
          = image_tag employee.user.avatar, class: 'avatar med'
        .media-body
          = link_to employee.user, employee.user, class: 'person-name'
          .person-details
            .person-role= employee.job_title
            = mail_to employee.user.email, employee.user.email, class: 'person-email'
  %li.person
    - if current_user and current_user.can_create? @lab.employees.build
      = link_to new_lab_employee_path(@lab), class: 'button tiny success' do
        = fa_icon "check-square"
        I work here
