.heading
  = fa_icon "users", text: t("views.labs.show.people", default: "Employees")
  - if current_or_null_user.can_update?(lab)
    = link_to "edit", lab_employees_path(lab), id: "edit-employees"

- employees.in_groups_of(2, false).each do |group|
  .row
    - group.each do |employee|
      - cache ["v2", employee] do
        .col-md-6
          .person{itemscope: true, itemtype: "http://data-vocabulary.org/Person"}
            .media
              .pull-left
                = image_tag employee.user.avatar_url, class: 'avatar med employee'
              .media-body
                = link_to employee.user, class: 'person-name' do
                  %span.first_name{itemprop: "givenName"}= employee.user.first_name
                  %span.last_name{itemprop: "familyName"}= employee.user.last_name
                .person-details
                  .person-role{itemprop: "jobTitle"}= employee.job_title
                  - if employee.email.present?
                    .email= mail_to employee.email, employee.email
                  - if employee.phone.present?
                    .phone{itemprop: "telephone"}= employee.phone

.row
  - if current_user
    - if current_user.applied_to?(@lab) and !current_user.employed_by?(@lab)
      = link_to new_lab_employee_path(@lab), class: 'btn disabled btn-default' do
        = fa_icon "check-square"
        = t("views.labs.show.applied", default: "Applied")
    - elsif current_user.can_create? @lab.employees.build
      = link_to new_lab_employee_path(@lab), class: 'btn btn-success' do
        = fa_icon "check-square"
        = t("views.labs.show.i_work_here", default: "I work here")
  - else
    = link_to new_lab_employee_path(@lab), class: 'btn btn-primary' do
      = fa_icon "check-square"
      = t("views.labs.show.i_work_here", default: "I work here")
