.text-large
  = "Upcoming Events"

%ul
  - @events.limit(3).where('starts_at >= ?', Date.today).order('starts_at ASC').each do |event|
    %li
      = link_to event, [event.lab, event]
      - if event.starts_at
        \-
        = event.starts_at.stamp('Wed, 20th November')
.row.mt-3.mb-3
  = link_to lab_events_path(@lab), class: 'btn btn-primary btn-lg' do
    = "See all"