= simple_form_for lab, html: { class: 'form-horizontal' } do |f|
  = render 'form_errors', resource: lab

  %fieldset
    %legend Basic Details
    = f.input :name, autofocus: lab.name.blank?, label: 'Fab Lab Name'
    = f.input :description, hint: 'A brief overview of the lab', input_html: { rows: 4 }
    = f.input :slug, hint: "This is the 'username' of the lab, it will be in the URL" do
      .row.collapse
        .columns.small-3
          %span.prefix= "#{Rails.application.config.url}/"
        .columns.small-9= f.input_field :slug, class: 'form-control'

  %fieldset
    %legend Lab Image
    .row
      .columns.large-3= cropped_image_tag @lab.avatar, 100
      .columns.large-9= f.input :avatar_src, input_html: { class: 'fp' }, label: 'Avatar', hint: "This will be a square image next shown next to the lab name throughout the site"
    -# .row
    -#   - if @lab.header_image_src.present?
    -#     .columns.large-12= image_tag @lab.header_image
    -#   .columns.large-9= f.input :header_image_src, input_html: { class: 'fp' }, label: 'Header Image'

  %fieldset
    %legend Lab Location
    .address
      %fieldset
        %legend Step 1
        %p Enter the lab's address in the textbox below. Then drag the map marker to pinpoint its exact position.
        = f.input :geocomplete, input_html: { id: 'geocomplete', data: { latlng: "#{@lab.latitude}, #{@lab.longitude}"} }
      %fieldset.step-2
        %legend Step 2
        .row
          .columns.large-4#map-holder
            #location-picker-map
          .columns.large-8
            = f.input :address_1, input_html: { data: {geo: "street_address"}}, label: 'Address', placeholder: 'Address Line 1'
            = f.input :address_2, label: false, placeholder: 'Address Line 2 (Optional)'
            = f.input :city, input_html: { data: {geo: "locality"}}
            = f.input :county, label: 'State/Province/County'

            = f.input :postal_code, input_html: { data: {geo: "postal_code"}}
            = f.input :country_code, as: 'country', label: 'Country', input_html: { data: {geo: "country_short"} }, wrapper_html: { class: 'boo'}, iso_codes: true#, input_html: { class: 'enhanced'}
            = f.input :latitude, as: :hidden, input_html: { data: {geo: "lat"}}
            = f.input :longitude, as: :hidden, input_html: { data: {geo: "lng"}}
            = f.input :zoom, as: :hidden
        = f.input :address_notes, hint: 'Any details that might be useful for someone trying to find the lab. For example, "Come through the red door".'

  %fieldset
    %legend Lab Contact Details
    = f.input :phone, hint: "A general enquiries phone number for the lab"
    = f.input :email, hint: "A general enquiries email address for the lab"

  %fieldset
    %legend Links
    %p.hint Any websites for this Fab Lab. It can include blogs, social networks, video/photo sites etc.
    = f.simple_fields_for :links do |link|
      = render 'link_fields', f: link
    .links
      = link_to_add_association 'add link', f, :links, class: 'button small'

  - if @lab.new_record?
    %fieldset
      %legend Anything else?
      = f.input :application_notes

  = f.submit (lab.new_record? ? 'Add Lab' : 'Update Lab'), class: 'button'
