= simple_form_for lab, html: { class: 'form-horizontal' } do |f|
  = render 'form_errors', resource: lab

  - if lab.new_record?
    %fieldset
      %legend Important Information
      = f.association :referee, collection: Lab.with_approved_state.order('name ASC'), hint: "An existing lab MUST be able to verify your application", label: "Referee Lab"

      = f.input :parent_id, label: "Parent (Supernode) Lab", as: 'select', collection: Lab.with_approved_state.order('name ASC'), hint: "Is this lab connected with a Supernode? If so, which lab?", input_html: { class: 'enhanced' }

      = f.input :kind, collection: Lab::Kinds.each_with_index.map{|m, index| [m.humanize.titleize, index]}, as: 'radio_buttons', item_wrapper_class: 'checkbox_container'

  %fieldset

    %legend Basic Details
    = f.input :name, label: 'Fab Lab Name'

    = f.input :blurb, as: 'text', hint: 'A very brief overview of the lab, maybe include what it specializes in. <span id="description-count"></span> characters available.'.html_safe, input_html: { rows: 3, data: { limit: 200, counter: '#description-count'} }

    = f.input :description, hint: 'An in-depth description of the lab', input_html: { style: 'height: 8em' }

    = f.input :slug, hint: "This is the unique 'username' of the lab, it will be in the URL" do
      .row.collapse
        .columns.large-3
          %span.prefix= "#{Rails.application.config.url}/"
        .columns.large-9= f.input_field :slug, class: 'form-control'

  %fieldset
    %legend Lab Images

    .row
      .columns.large-3= image_tag @lab.avatar, class: 'avatar big'
      .columns.large-9= f.input :avatar_src, input_html: { class: 'fp', data: { fp_store_location: 'S3', fp_store_path: 'labs/avatars/', fp_store_container: ENV['S3_BUCKET'] } }, label: 'Avatar', hint: "This will be a square image next shown next to the lab name throughout the site"
    %hr/
    .row
      .columns.large-3
        - if @lab.header_image_src.present?
          = image_tag @lab.header_image_src, class: 'avatar big'
      .columns.large-9= f.input :header_image_src, input_html: { class: 'fp', data: { fp_store_location: 'S3', fp_store_path: "labs/photos/", fp_store_container: ENV['S3_BUCKET'] } }, label: 'Photo', hint: "A single (large) photo of your lab. You will be able to add more photos soon."

  %fieldset
    %legend Lab Location
    .address
      %fieldset
        %legend Step 1
        %p.hint Enter the lab's address in the textbox below. Then drag the map marker to pinpoint its exact position.
        = f.input :geocomplete, input_html: { id: 'geocomplete', data: { latlng: "#{@lab.latitude}, #{@lab.longitude}"} }, label: false
      %fieldset.step-2
        %legend Step 2
        %p.hint Edit the details in the address fields below.
        .row
          .columns.large-6#map-holder
            #location-picker-map
          .columns.large-6
            = f.input :address_1, input_html: { data: {geo: "street_address"}}, label: 'Lab Address', placeholder: 'Address Line 1'
            = f.input :address_2, label: false, placeholder: 'Address Line 2 (Optional)'
            = f.input :city, input_html: { data: {geo: "locality"}}
            = f.input :county, label: 'State/Province/County'

            = f.input :postal_code, input_html: { data: {geo: "postal_code"}}
            = f.input :country_code, as: 'country', label: 'Country', input_html: { data: {geo: "country_short"} }, wrapper_html: { class: 'boo'}, iso_codes: true#, input_html: { class: 'enhanced'}
            = f.input :latitude, as: :hidden, input_html: { data: {geo: "lat"}}
            = f.input :longitude, as: :hidden, input_html: { data: {geo: "lng"}}
            = f.input :zoom, as: :hidden
        %hr/
        = f.input :address_notes, hint: 'Any details that might be useful for someone trying to find the lab. For example, "Go up the stairs and through the red door".'

  %fieldset
    %legend Lab Contact Details
    = f.input :phone, hint: "A general enquiries phone number for the lab", label: "Lab Phone Number"
    = f.input :email, hint: "A general enquiries email address for the lab", label: "Lab Email Address"

  - if @lab.new_record?
    %fieldset
      %legend Your Role
      %p.hint What is your association with this lab?
      = f.simple_fields_for :employees do |e|
        = e.input :job_title, placeholder: "e.g. Lab Manager"
        = e.input :description, placeholder: "e.g. Coordinates Workshops and Events"

  -# %fieldset.opening-hours
  -#   %legend Opening Hours
  -#   %table{cellspacing: 0}
  -#     %tr
  -#       %td
  -#       - (0..48).each do |quart|
  -#         %td
  -#           .rotate= Time.at(quart* 30 * 60).utc.strftime("%H:%M")
  -#     - [1,2,3,4,5,6,0].each do |day|
  -#       %tr
  -#         %th= Date::DAYNAMES[day][0..1]
  -#         - (0..48).each do |quart|
  -#           %td

  %fieldset
    %legend Links
    %p.hint Any websites for this Fab Lab. It can include blogs, social networks, video/photo sites etc.
    = f.simple_fields_for :links do |link|
      = render 'link_fields', f: link
    .links
      = link_to_add_association f, :links, class: 'button tiny' do
        = fa_icon "plus"
        Add another link

  %fieldset
    %legend Capabilities
    = f.input :capabilities, as: 'check_boxes', inline_label: true, item_wrapper_class: 'checkbox_container', label: false, collection: Lab::Capabilities.map{|f| [ I18n.t("capabilities.#{f}"), f]}, checked: f.object.capabilities, hint: "Check all of the boxes that apply to this lab"

    = f.association :machines, collection: Machine.includes(:brand).map{|m| ["#{m.brand} - #{m.name}", m.id]}, hint: "We are doing a lot of work with the list of machines. Soon you will be able to add your own machines to the directory, but until then maybe you have some in our list?"


    = f.input :tools_list, hint: "Please list any other machines that you have so that we can add them to the directory.", input_html: { style: "height: 8em" }, placeholder: "e.g. Makerbot Industries - Makerbot 2"

  - if @lab.new_record?
    %fieldset
      %legend Anything else?
      = f.input :application_notes

  = f.submit (lab.new_record? ? 'Add Lab' : 'Update Lab'), class: 'button'
