.view-as
  .btn-group.btn-group-justified
    = link_to labs_path, class: "list btn btn-lg #{action_name == 'index' ? 'btn-primary' : 'btn-default'}" do
      = fa_icon "list", text: t("views.labs.index.list", default: "List")
    = link_to map_labs_path, class: "map btn btn-lg #{action_name == 'map' ? 'btn-primary' : 'btn-default'}" do
      = fa_icon "globe", text: t("views.labs.index.map", default: "Map")
