= content_tag_for :div, lab, class: 'media' do
  .img.pull-left
    = link_to lab do
      = image_tag lab.avatar, class: 'med avatar'
  .media-body
    = link_to lab, lab, class: 'name'
    .lab-location
      = fa_icon "map-marker"
      = lab.short_address(!params[:country])
    %p.lab-description.truncate= lab.description
