- if nearby_labs and nearby_labs.any?
  .heading Nearest Labs
  %ul.nearby-labs
    - nearby_labs.each do |lab|
      %li.nearby-lab
        = link_to lab, class: 'pull-left' do
          = image_tag lab.avatar, class: 'avatar small'
        .media-body
          .media-heading= link_to lab, lab, class: 'nearby-lab-name'
          .distance= "#{lab.distance.ceil}km away"

    -# %li
    -#   .pull-left
    -#     -# = image_tag "all/#{lab.country_code}/24.png", style: 'margin: 0 auto 20px; display: block'
    -#   .media-body
    -#     = link_to labs_path(country: lab.country_code), class: 'all-labs' do
    -#       All labs in
    -#       %strong #{lab.country}
    -#       »