- if nearby_labs and nearby_labs.any?
  %h5= t('labs.show.nearby_labs')
  %ul.nearby-labs
    - nearby_labs.each do |lab|
      %li.nearby-lab
        = link_to lab, class: 'pull-left' do
          = cropped_image_tag lab.avatar, '40x40'
        .media-body
          .media-heading= link_to lab, lab, class: 'nearby-lab-name'
          = "#{lab.distance.ceil}km away"
  = link_to labs_path(country: lab.country_code) do
    Browse all labs in
    %strong #{lab.country}
    »