- title "Labs"

.row
  .col-md-3
    .panel.panel-default
      .panel-heading All Countries
      %ul.list-group
        - Country.all[0..20].each do |country|
          %li.list-group-item
            %div{class: "flag flag-#{country[1].downcase} pull-left"}
            = country[0]
            %span.badge.pull-right= (rand() * 30).to_i

  .col-md-9
    .view-as
      View as:
      .btn-group
        = link_to labs_path, class: "btn btn-default #{'active' if action_name == 'index'}" do
          %span.glyphicon.glyphicon-list
          List

        = link_to map_labs_path, class: "btn btn-default #{'active' if request.path == map_labs_path}" do
          %span.glyphicon.glyphicon-globe
          Map


    - @labs.each do |lab|
      = content_tag_for :div, lab do
        %h4= link_to lab, lab
        = lab.description

.row
  .col-md-12
    - if Lab.creatable_by? current_or_null_user
      = link_to "Add a Lab", new_lab_path, class: 'btn btn-primary'