- title "Labs"
.subnavbar.border-bottom
  .container
    .row
      .col-md-4.py-4.border-right.list-map
        = render "header"

      .col-md-4.py-4.border-right
        = search_form_for @q do |f|
          .input-group.mb-2
            = f.select(:country_code_eq, options_for_select(@countries.map { |a,b| [a, b]}, params[:q] ? params[:q][:country_code_eq] : '' ), { include_blank: 'Filter by Country' }, {class: 'form-control'})
          .input-group.mb-2
            = f.select(:activity_status_eq, options_for_select(Lab::ACTIVITY_STATUS.map { |a,b| [a.upcase, a]}, params[:q] ? params[:q][:activity_status_eq] : ''), { include_blank: 'Filter by status' }, {class: 'form-control'})
          .input-group.mb-4
            = f.submit class: 'btn btn-primary', value: 'Filter'

      .col-md-4.py-4
        - if current_user
          = link_to new_lab_path, class: "btn btn-primary" do
            = fa_icon "plus", text: t("views.labs.index.add_a_lab", default: "Add Lab")
        - else
          = link_to new_lab_path, class: "btn btn-primary", data: {toggle: "tooltip", placement: "bottom" }, title: "You need to be signed in to add a Lab" do
            = fa_icon "plus", text: t("views.labs.index.add_a_lab", default: "Add Lab")

.container
  .row
    - cache ["v2-labsindex-#{I18n.locale}-#{Digest::MD5.hexdigest([params.to_s].to_s)}", Lab.last_updated_at] do
      - if params[:query].present?
        .search-results
          = link_to "×", labs_path, class: 'close right'
          #{pluralize @labs.size, "search result"} for
          %strong= params[:query]

      .labs.col-12= render @labs
      = paginate @labs, theme: 'twitter-bootstrap-4', nav_class: "m-auto pt-3"

  .row
    .heading.col-12
      %strong Download
      the Fab Labs list
    %dl
      %dt.col-6 Format:
      %dd.col-6
        = link_to "JSON", controller:'labs', action:'index', subdomain: 'api', format: :json, class: 'btn btn-primary'
