- title "Labs"

.row.top
  .columns.large-8
    %ul.breadcrumbs
      %li= link_to Lab.to_s.pluralize, labs_path
      - if params[:country].present?
        %li.current
          = link_to labs_path(country: params[:country]) do
            %span.flag{class: "flag-#{params[:country]}"}
            = Country[params[:country]]
      - else
        %li.current= link_to "All Countries", labs_path
  .columns.large-4
    = render "header"

.row
  .columns.large-8.content

    - if params[:q]
      .search-results
        -# %button.close{type: "button", data: { dismiss: "alert"}, aria: { hidden: true}} ×
        = link_to "×", labs_path, class: 'close'
        #{pluralize @labs.size, "search result"} for
        %strong= params[:q]

    .labs= render @labs
    = paginate @labs

    - if Lab.creatable_by? current_or_null_user
      = link_to I18n.t("labs.index.add_a_lab", default: "Add a Lab"), new_lab_path, class: 'button small'

  .columns.large-4.sidebar-offcanvas
    .heading
      Filter by
      %strong Country
    %ul.side-nav
      %li.all{class: ('active' if params[:country].blank?)}
        = link_to url_for(params.merge(country: nil)) do
          = I18n.t("labs.index.all_countries", :default => "All Countries")
          %span.count.right= @count

      - @countries.each do |country,country_code,count|
        %li{class: ('active' if params[:country] == country_code)}
          -# %div{class: "flag flag-#{country[1].downcase} pull-left"}
          = link_to url_for(params.merge(country: country_code)) do
            = country
            %span.count.right= count
