- title "Labs"

.row
  .col-md-9.box
    .labs
      = render @labs
    - if Lab.creatable_by? current_or_null_user
      = link_to "Add a Lab", new_lab_path, class: 'btn btn-primary'

  .col-md-3

    .view-as
      View as:
      .btn-group
        = link_to labs_path, class: "btn btn-default #{'active' if action_name == 'index'}" do
          %span.glyphicon.glyphicon-list
          List

        = link_to map_labs_path, class: "btn btn-default #{'active' if request.path == map_labs_path}" do
          %span.glyphicon.glyphicon-globe
          Map
    -# .panel.panel-default
    -#   .panel-heading All Countries
    %ul.nav.nav-pills.nav-stacked
      %li.all{class: ('active' if params[:country].blank?)}
        = link_to url_for(params.merge(country: nil)) do
          All Countries
          %span.badge.pull-right= @count

      - @c.each do |country_code,count|
        %li{class: ('active' if params[:country] == country_code)}
          -# %div{class: "flag flag-#{country[1].downcase} pull-left"}
          = link_to url_for(params.merge(country: country_code)) do
            = ::CountrySelect::COUNTRIES[country_code]
            %span.badge.pull-right= count
