- title "Labs Map"

.subnavbar
  .container.subnavbar-container
    .subnavbar-section.subnavbar-section-left.list-map
      = render "header"

    .subnavbar-section.subnavbar-section-center

    .subnavbar-section.subnavbar-section-right
      - if current_user
        = link_to new_lab_path, class: "btn btn-primary" do
          = fa_icon "plus", text: t("views.labs.index.add_a_lab", default: "Add Lab")
      - else
        = link_to new_lab_path, class: "btn btn-primary", data: {toggle: "tooltip", placement: "bottom" }, title: "You need to be signed in to add a Lab" do
          = fa_icon "plus", text: t("views.labs.index.add_a_lab", default: "Add Lab")

.row.iframe-embed-map.row-no-padding
  .col-ls-12
    %iframe{:frameborder => "0", :height => "600", :marginheight => "0px", :marginwidth => "0px", :name => "labsMap", :scrolling => "no", :src => "embed", :style => "border: 0px #FFFFFF none;", :width => "100%"}
