.container.mt-4
  = title "Add a Lab"
  .well
    %h2= t('shared.important')
    %p= t('.we_are_in_the_process')
    %ol
      %li
        = t('.item-1')
      %li
        = t('.item-2')
      %li
        = t('.item-3')
      %li
        = t('.item-4')
      %li
        = t('.item-5')
      %li
        = t('.item-6')
      %li
        = t('.item-7')
      %li
        = t('.item-8')

    %h2
      = t('.faq')
    %ol
      %li
        %strong= t('.question-1')
        %p= t('.answer-1')
      %li
        %strong= t('.question-2')
        %p= t('.answer-2')
      %li
        %strong= t('.question-3')
        %p= t('.answer-3')
      %li
        %strong= t('.question-4')
        %p= t('.answer-4')

      %li
        %strong= t('.answer-5')
        %p
          %a{:href => "https://github.com/fablabbcn/fablabs"} https://github.com/fablabbcn/fablabs
      %li
        %strong Site feedback on the forum.fablabs.io. Here we would also love to hear your ideas and suggestions regarding Fablabs.io, its features, development, how it works and how we can improve it.
        %p
          %a{:href => "https://forum.fablabs.io/c/site-feedback"} https://forum.fablabs.io/c/site-feedback
      %li
        %strong If these steps do not work for you and you need instead to contact the administrators of Fablabs.io, please write to
        = succeed "." do
          %a{:href => "mailto:webmasters@fablabs.io"} webmasters@fablabs.io


  %fieldset.mb-0
    .text-large
      Is your Lab already on the list?
    %h5
      To avoid duplicates please first check the list below to ensure that your Lab is not already in our database.

    = select_tag :lab, options_for_select(Lab.order('name ASC').select(:name, :city, :county, :country_code).map{|l| "#{l} - #{l.short_address}"}), class: 'enhanced', include_blank: true, id: 'check-labs'

  .p-3
    = render 'form', lab: @lab
