.row
  .col-lg-12
    = title "Add a Lab"
  .col-lg-12
    .well.well-lg
      %h5 Important
      %p
        We are in the process of curating the list of Fab Labs. Before adding a lab sure to read the approval process guidelines
        %a{:href => 'labs/docs/approval_process'} here.
      %p To avoid duplicates please first check the list below to ensure that your lab is not already in our database
      = select_tag :lab, options_for_select(Lab.order('name ASC').select(:name, :city, :county, :country_code).map{|l| "#{l} - #{l.short_address}"}), class: 'enhanced', include_blank: true, id: 'check-labs'

    %hr/

    = render 'form', lab: @lab
