-# #header-bg.hidden-xs{style: "background-image: url('#{@lab.header_image_src}');"}
.row
  .columns.large-12
    = render "breadcrumbs", lab: @lab
    = render "bio", lab: @lab

  .columns.large-8
    = render "action_buttons", lab: @lab
    .lab-description= simple_format @lab.description
    %ul.lab-links
      - @lab.links.each do |link|
        %li= link_to link.url, link.url

    = link_to "Lab Tools", tools_path
    = render "employees", lab: @lab
    -# = render "discussions", lab: @lab

  .columns.large-4.sidebar
    = render "minimap", lab: @lab
    = render "nearby", lab: @lab, nearby_labs: @nearby_labs
    = render "facilities", lab: @lab
