-# #header-bg.hidden-xs{style: "background-image: url('#{@lab.header_image_src}');"}

.stripe
  .row
    .columns.large-12
      = render "breadcrumbs", lab: @lab
  .row.header
    .columns.large-4.bio
      = render "bio", lab: @lab
    .columns.large-8
      = render "minimap", lab: @lab if @lab.longitude

.row.main
  .columns.large-8.content

    .lab-description= simple_format @lab.description

    - if @lab.header_image_src.present?
      = image_tag hocho(@lab.header_image_src, "o=r&d=800"), class: 'big-picture'

    = render "employees", lab: @lab
    -# = render "tools", lab: @lab
    -# = render "discussions", lab: @lab

  .columns.large-4.sidebar

    = render "nearby", lab: @lab, nearby_labs: @nearby_labs
    = render "links", links: @lab.links
    = render "capabilities", capabilities: @lab.capabilities

    -# = render "facilities", lab: @lab
