- content_for(:meta) do
  %meta{content: @lab.avatar.thumb("300x300").url, property: "og:image"}/
  %meta{content: @lab.description, property: "og:description"}/

- content_for(:title, @lab)

.container{itemscope: true, itemtype: "http://data-vocabulary.org/Organization"}
  - if @lab.header.present?
    = image_tag @lab.header.thumb("800x").url, class: 'big-picture', itemprop: "image"

  .row
    = render "breadcrumbs", lab: @lab

  .row
    .bio= render "bio", lab: @lab

  .divider
  .row
    .col-lg-8
      .text-large Lab Details
     
    .col-lg-4
      .text-large
        = t('views.labs.show.nearby_labs')
  .divider

  .row
    .col-lg-8
      .lab-description{itemprop: "description"}= simple_format @lab.description

      - cache ["side-v2-#{I18n.locale}", @lab] do
        = render "links", links: @lab.links
        - if @lab.capabilities.length > 0
          = render "capabilities", capabilities: @lab.capabilities

    .col-lg-4.sidebar
      = render "nearby", lab: @lab, nearby_labs: @nearby_labs

  .divider

  .row
    .col-lg-12.mt-4
      = render("employees", lab: @lab, employees: @employees)

  - if @machines.length > 0
    .divider
    .row
      .col-lg-12
        = render("machines", lab: @lab, machines: @machines)

  - if current_or_null_user.can_read?(Academic)
    .divider
    .row
      .col-lg-12
        = render("academics", lab: @lab, academics: @academics)

  - if @lab.discourse_id.present?
    .row.mt-5
      .col-lg-12
        %h3 Discuss this Lab on discuss.fablabs.io
        = comments_script(@lab.discourse_id)
