- content_for(:meta) do
  %meta{content: @lab.avatar.thumb("300x300").url, property: "og:image"}/
  %meta{content: @lab.description, property: "og:description"}/

%div{itemscope: true, itemtype: "http://data-vocabulary.org/Organization"}
  .stripe
    .row
      .col-lg-12
        = render "breadcrumbs", lab: @lab

    .row.header
      .col-lg-4.bio= render "bio", lab: @lab
      .col-lg-8= render "minimap", lab: @lab if @lab.longitude

  .row.main
    .col-lg-8.content
      .lab-description{itemprop: "description"}= simple_format @lab.description
      - if @lab.header_url.present?
        = image_tag hocho(@lab.header_url, "o=r&d=800"), class: 'big-picture', itemprop: "image"

      - if current_or_null_user.can_read?(Event) and @events.length > 0
        = render("events", lab: @lab, events: @events)

      = render("employees", lab: @lab, employees: @employees)

      - if @machines.length > 0
        = render("machines", lab: @lab, machines: @machines)

      - if current_or_null_user.can_read?(Academic)
        = render("academics", lab: @lab, academics: @academics)


    .col-lg-4.sidebar
      = render "nearby", lab: @lab, nearby_labs: @nearby_labs
      - cache ["side-v2-#{I18n.locale}", @lab] do
        = render "links", links: @lab.links
        - if @lab.capabilities.length > 0
          = render "capabilities", capabilities: @lab.capabilities

.row

  .col-lg-12
    - if @lab.discourse_id.present?
      %h3 Discuss this Lab on discuss.fablabs.io
      = comments_script(@lab.discourse_id)
