-# = @lab.admin_ids
#header-bg.hidden-xs{style: "background-image: url('#{@lab.header_image_src}');"}
.row
  .columns.large-8

    %ul.breadcrumbs
      %li= link_to Lab.to_s.pluralize, labs_path
      %li
        = link_to labs_path(country: @lab.country_code) do
          %span.flag{class: "flag-#{@lab.country_code.downcase}"}
          = @lab.country.name
      %li.current= link_to @lab, @lab

    .media
      = link_to @lab, class: 'pull-left' do
        = cropped_image_tag @lab.avatar, '100x100', class: 'big avatar'
        -# = image_tag @lab.avatar, width: 100, class: 'big-avatar'
      .media-body
        = title @lab.name
        .lab-contact-details
          .lab-address= @lab.formatted_address
          - if @lab.phone.present?
            .lab-phone
              %span.glyphicon.glyphicon-earphone
              = @lab.phone
          - if @lab.email.present?
            .lab-email
              %span.glyphicon.glyphicon-envelope
              = mail_to @lab.email, @lab.email

        -# - if current_or_null_user.has_role? :admin
        -#   - @lab.current_state.events.keys.each do |event|
        -#     = button_to "#{event.capitalize} Lab", {controller: 'labs', action: 'verify'}, method: :patch, class: 'button button-primary'

    = render "action_buttons", lab: @lab

    .lab-description= simple_format @lab.description
    %ul.lab-links
      - @lab.links.each do |link|
        %li= link_to link.url, link.url

    -# %h5 People
    -# %ul.lab-staff.large-block-grid-3.small-block-grid-1
    -#   - User.all.limit(6).each do |admin|
    -#     %li
    -#       = link_to admin, class: 'pull-left' do
    -#         = cropped_image_tag admin.avatar, 40, class: 'avatar small'
    -#       = link_to admin, admin
    -#       Lab Co-ordinator

    -# %table
    -#   %thead
    -#     %tr
    -#       %th Name
    -#       %th Position
    -#       %th Email
    -#       %th Phone
    -#   %tbody
    -#     - @people.each do |user|
    -#       %tr
    -#         %td= link_to user, user
    -#         %td Director
    -#         %td= mail_to user.email, user.email
    -#         %td 0294280724

  .columns.large-4.sidebar
    #lab-map{ data: { latitude: @lab.latitude, longitude: @lab.longitude }}

    - if @nearby_labs and @nearby_labs.any?
      %h5= t('labs.show.nearby_labs')
      .nearby-labs
        - @nearby_labs.each do |lab|
          .nearby-lab
            = link_to lab, class: 'pull-left' do
              = cropped_image_tag lab.avatar, '40x40'
            .media-body
              .media-heading= link_to lab, lab, class: 'nearby-lab-name'
              = "#{lab.distance.ceil}km away"
      = link_to labs_path(country: @lab.country_code) do
        Browse all labs in
        %strong #{@lab.country}
        »



    -# %hr/

    -# %h5= t('labs.show.lab_facilities')
    -# %ul.list-group
    -#   %li.list-group-item 3D Printing
    -#   %li.list-group-item Vinyl Cutting
    -#   %li.list-group-item Large Format CNC
    -# = link_to "#" do
    -#   More facilities details »