%table.table
  %thead
    %tr
      %th= sort_link @p, :id, 'ID'
      %th= sort_link @p, :name, 'Name'
      %th= sort_link @p, :country_code, 'Country'
      %th= sort_link @p, :workflow_state, 'State'
      %th= sort_link @p, :activity_status, 'Status'
      %th= sort_link @p, :kind, 'Kind'
      %th
        Creator
        = sort_link @p, 'creator_first_name', 'First'
        = sort_link @p, 'creator_last_name', 'Last'
  %tbody
    - @labs.each do |lab|
      = content_tag_for :tr, lab, {class: lab.current_state} do
        %td= lab.id
        %td= link_to lab, backstage_lab_path(lab)
        %td= lab.country&.common_name
        %td= lab.current_state
        %td= lab.activity_status || "Unknown"
        %td= lab.kind || "Unknown"
        %td= link_to lab.creator, lab.creator

