!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://ogp.me/ns#", :lang => "en"}
  = render 'head'
  %body{ class: body_classes }
    = render "application/header"
    #main
      = yield
    = cookie_policy_script
    = render 'footer'
    - if current_user
      - # Automatic login on discourse
      %iframe{src: "#{Figaro.env.discourse_endpoint}session/sso", width: '0px', height: '0px', border: 'none'}
