!!!
%html
  %head
    / Full source code here: https://github.com/johnrees/fablabs
    %title= content_for?(:title) ? "#{yield(:title)} | FabLabs" : "FabLabs"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    = render 'application/map_icons'
    %link{type: "text/plain", rel: "author", href: "/humans.txt"}
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400|Montserrat"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?sensor=false&libraries=places", "//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.4/leaflet.js", "//api.filepicker.io/v1/filepicker.js"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags

  %body{ class: body_classes }
    = render "application/please_verify" if current_user and current_user.unverified?
    - if flash.any?
      - flash.each do |name, msg|
        = content_tag :div, msg, class: flash_class(name)
    = render "application/header"
    #main
      = yield

    %footer
      .row
        .columns.large-12
          .split
      .row
        .columns.large-2
          = image_tag "footer-logo.png"
        .columns.large-5.left
          %ul
            %li= link_to "Labs List", labs_path
            %li= link_to "World Map", map_labs_path
            %li= link_to "About", about_path
            %li= link_to "The Fab Foundation", "http://www.fabfoundation.org"

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46064152-1', 'fablabs.io');
      ga('send', 'pageview');

    / served by wozniak v2
