!!!
%html
  %head
    %title= content_for?(:title) ? "#{yield(:title)}, Fab Foundation" : "Fab Foundation"
    -# = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"
    -# = stylesheet_link_tag    "http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"
    -# = javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"
    -# = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    -# = javascript_include_tag "//api.filepicker.io/v1/filepicker.js"
    = csrf_meta_tags

  %body{ class: body_classes }

    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li.dropdown
          -# = link_to "#", class: 'dropdown-toggle', data: { toggle: 'dropdown'} do
          -#   = cropped_image_tag current_user.avatar, '20x20', class: 'user-avatar'
          -#   Me
          -#   %b.caret
          %ul.dropdown-menu
            -# %li= link_to "Settings", settings_path
            -# %li= link_to "Claims", claims_user_path(current_user)
            %li= link_to "Sign Out", signout_path
      - else
        %li= link_to "Sign In", signin_path
        %li= link_to "Sign Up", signup_path

    .navbar.navbar-fixed-top.navbar-inverse{role: "navigation"}
      .container
        -# .navbar-header
        -#   %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        -#     %span.icon-bar
        -#     %span.icon-bar
        -#     %span.icon-bar
        -#   = link_to root_path, class: 'navbar-brand' do
        -#     %span.fab Fab
        -#     Foundation
        -# .collapse.navbar-collapse
        -#   = form_tag '#', class: 'navbar-form navbar-left', role: 'search' do
        -#     .form-group
        -#       = text_field_tag 'q', nil, class: 'form-control', placeholder: 'Search Labs...', id: 'search-box'
        -#   %ul.nav.navbar-nav.navbar-left
        -#     %li{class: ('active' if controller_name == 'labs')}= link_to "Labs", labs_path
        -#     %li{class: ('active' if action_name == 'support')}= link_to "Support", support_path
        -#   %ul.nav.navbar-nav.navbar-right
        -#     - if current_user
        -#       %li.dropdown
        -#         = link_to "#", class: 'dropdown-toggle', data: { toggle: 'dropdown'} do
        -#           = cropped_image_tag current_user.avatar, '20x20', class: 'user-avatar'
        -#           Me
        -#           %b.caret
        -#         %ul.dropdown-menu
        -#           %li= link_to "Settings", settings_path
        -#           %li= link_to "Claims", claims_user_path(current_user)
        -#           %li= link_to "Sign Out", signout_path
        -#     - else
        -#       %li= link_to "Sign In", signin_path
        -#       %li= link_to "Sign Up", signup_path

    .container#main
      .row
        .col-md-12
        - flash.each do |name, msg|
          = content_tag :div, msg, class: flash_class(name)

      = yield

    -# %footer
    -#   hello

    :javascript
      filepicker.setKey('#{ENV["FILEPICKER_API_KEY"]}');
