!!!
%html
  %head
    / Full source code here: https://github.com/johnrees/fablabs
    %title= content_for?(:title) ? "#{yield(:title)} | FabLabs" : "FabLabs"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    = render 'application/map_icons'
    %link{type: "text/plain", rel: "author", href: "/humans.txt"}
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?sensor=false&libraries=places", "//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.4/leaflet.js", "//api.filepicker.io/v1/filepicker.js"
    -# = stylesheet_link_tag "//fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:400,700"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Montserrat"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags

  %body{ class: body_classes }
    = render "application/please_verify" if current_user and current_user.unverified?
    - if flash.any?
      - flash.each do |name, msg|
        = content_tag :div, msg, class: flash_class(name)
    = render "application/header"
    #main
      = yield

    %footer
      .row
        .columns.large-12
          .split
      .row
        .columns.large-2
          = image_tag "footer-logo.png"
        .columns.large-5.left
          %ul
            %li= link_to "Labs List", labs_path
            %li= link_to "World Map", map_labs_path
            %li= link_to "About", about_path
            %li= link_to "The Fab Foundation", "http://www.fabfoundation.org"