!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://ogp.me/ns#"}
  %head
    %title= content_for?(:title) ? "#{yield(:title)} | FabLabs" : "FabLabs.io - The Fab Lab Network"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    %meta{content: "FabLabs.io", property: "og:title"}/
    %meta{content: "website", property: "og:type"}/
    %meta{content: "https://www.fablabs.io", property: "og:url"}/
    %meta{content: "https://i.imgur.com/3Ikadkn.png", property: "og:image"}/
    %meta{content: "FabLabs.io - The Fab Lab Network", property: "og:site_name"}/
    %meta{content: "1349222175", property: "fb:admins"}/
    %meta{content: "A platform for connecting Fab Labs and their users from around the world.", property: "og:description"}/

    = render 'application/map_icons'
    %link{rel: "canonical", href: "#{request.url.split('?').first}"}
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400|Montserrat"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?sensor=false&libraries=places", "//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.4/leaflet.js", "//api.filepicker.io/v1/filepicker.js"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/custom.modernizr"
    %link{type: "text/plain", rel: "author", href: "/humans.txt"}
    = csrf_meta_tags

  %body{ class: body_classes }
    = render "application/please_verify" if current_user and current_user.unverified?
    - if flash.any?
      - flash.each do |name, msg|
        = content_tag :div, msg, class: flash_class(name)
    = render "application/header"
    #main
      = yield

    %footer
      .row
        .columns.large-12
          .split
      .row
        .columns.large-2
          = image_tag "footer-logo.png"
        .columns.large-5.left
          %ul
            %li= link_to "Labs List", labs_path
            %li= link_to "World Map", map_labs_path
            %li= link_to "About", about_path
            %li= link_to "The Fab Foundation", "http://www.fabfoundation.org"

    = render "application/footer_scripts"
