!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://ogp.me/ns#", :lang => "en"}
  %head
    %title= content_for?(:title) ? "#{yield(:title)} | FabLabs" : "FabLabs.io - The Fab Lab Network"
    %base{target: "_parent"}
    %meta{ :charset => "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    %meta{content: (content_for?(:title) ? "#{yield(:title)} | FabLabs" : "FabLabs.io - The Fab Lab Network"), property: "og:title"}/
    %meta{content: "FabLabs.io - The Fab Lab Network", property: "og:site_name"}/
    %meta{content: request.url, property: "og:url"}/
    - if content_for?(:meta)
      = yield(:meta)
    - else
      %meta{content: "https://www.fablabs.io/logo.jpg", property: "og:image"}/
      %meta{content: "A platform for connecting Fab Labs and their users from around the world.", property: "og:description"}/
    %meta{content: "1349222175", property: "fb:admins"}/
    = render 'application/map_icons'

    %link{rel: "canonical", href: "#{request.url.split('?').first}"}
    %link{rel: "stylesheet", href: "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css"}
    %link{rel: "stylesheet", href: "https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css"}
    %link{rel: "stylesheet", href: "https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css"}

    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400|Montserrat"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?sensor=false&libraries=places", "//api.filepicker.io/v1/filepicker.js"
    = javascript_include_tag "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js"
    = javascript_include_tag "https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    %link{type: "text/plain", rel: "author", href: "/humans.txt"}
    = csrf_meta_tags

  %body{ class: body_classes }
    = render "application/please_verify" if current_user and current_user.unverified?
    - if flash.any?
      - flash.each do |name, msg|
        = content_tag :div, msg, class: flash_class(name)
    = render "application/header"
    #main
      = yield

    %footer
      .row
        .columns.large-12
          .split
      .row
        .columns.large-2
          = image_tag "footer-logo.png"
        .columns.large-5.left.small-6
          %ul
            %li= link_to "Labs List", labs_path
            %li= link_to "World Map", map_labs_path
            %li= link_to "About", about_path
            %li= link_to "The Fab Foundation", "http://www.fabfoundation.org"
        .columns.large-4.small-6
          %ul.locales
            %li= locale_link_to "Deutsch", "de"
            %li= locale_link_to "English", "en"
            %li= locale_link_to "Español", "es"
            %li= locale_link_to "Français", "fr"
            %li= locale_link_to "Italiano", "it"
            %li= locale_link_to "Nederlands", "nl"
            -# %li= locale_link_to "Português", "pt"
            %li= locale_link_to "日本語", "ja"

    = render "application/footer_scripts"
