!!!
%html
  %head
    %title= content_for?(:title) ? "#{yield(:title)} | FabLabs" : "FabLabs"
    %meta{ name: "viewport", content: "width=device-width" }
    %link{rel: "canonical", href: "#{request.url.split('?').first}"}
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400|Montserrat"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "sessions", "data-turbolinks-track" => true
    %link{type: "text/plain", rel: "author", href: "/humans.txt"}
    = csrf_meta_tags

  %body
    #main
      = yield
