!!!
%html
  %head
    %title= content_for?(:title) ? "#{yield(:title)} | FabLabs" : "FabLabs"
    %meta{ name: "viewport", content: "width=device-width" }
    %link{rel: "canonical", href: "#{request.url.split('?').first}"}
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400|Montserrat"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "sessions", "data-turbolinks-track" => true
    %link{type: "text/plain", rel: "author", href: "/humans.txt"}
    = csrf_meta_tags
    :css
      body {
        background-image: url('#{image_path("/elefant-bg.jpg")}');
      }
    = cookie_policy_script
  %body.sessions{ class: body_classes }
    #main
      - if flash.any?
        .row
          .columns.large-12
          - flash.each do |name, msg|
            = content_tag :div, msg, class: flash_class(name)
      = yield

      .bg-info
        #{link_to "ELEFAB", "http://www.fablabbcn.org/2013/10/elefab-2/"}, by #{link_to "Fab Lab Barcelona", "/fablabbcn"}

    = render "application/footer_scripts"
