!!!
%html
  %head
    %title= content_for?(:title) ? "#{yield(:title)} | FabLabs" : "FabLabs"
    %meta{ name: "viewport", content: "width=device-width" }
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Montserrat"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "sessions", "data-turbolinks-track" => true
    = csrf_meta_tags
    :css
      body {
        background-image: url('#{image_path("//i.imgur.com/KNJwy2W.jpg")}');
      }
  %body.sessions{ class: body_classes }
    .fade-bg
    #main
      - if flash.any?
        .row
          .columns.large-12
          - flash.each do |name, msg|
            = content_tag :div, msg, class: flash_class(name)
      = yield
